# Foundations of Computer Science - progetto 2022/23

- Mattia Birti [897092] 
- Alberto Porrini [826306]
- Gloria Longo [864579]

You have to work on the Dogs adoptions dataset:
*  [Dogs](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/dogs.csv)
*  [Dog Travel](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/dogTravel.csv)
*  [NST-EST2021-POP](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/NST-EST2021-POP.csv)

### Notes

1. It is mandatory to use GitHub for developing the project.
1. The project must be a jupyter notebook.
1. There is no restriction on the libraries that can be used, nor on the Python version.
1. All questions on the project must be asked in a public channel on Zulip.
1. At most 3 students can be in each group. You must create the groups by yourself.
1. You do not have to send me the project before the discussion.s

## Libraries

In [1]:
import pandas as pd
from datetime import datetime
from difflib import SequenceMatcher

### Import data from GitHub

#### Dogs.csv

In [2]:
dogs = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/dogs.csv", sep=",", encoding='latin-1')

In [ ]:
dogs.shape

In [5]:
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

#### DogTravel.csv

In [ ]:
dogTravel = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/dogTravel.csv", sep=",", encoding='latin-1')

In [ ]:
dogTravel.shape

In [ ]:
dogTravel.head()

#### NST-EST.csv

In [ ]:
nstest = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/NST-EST2021-POP.csv", header=None, sep=",", encoding='latin-1')

In [ ]:
nstest.shape

In [ ]:
nstest.head()

## 1. Extract all dogs with status that is not adoptable

Explore the dog's column names

In [ ]:
dogs.columns

Explore the first row

In [ ]:
dogs.iloc[0,:]

We can see that there are two variables (posted, accessed) that contain dates, let's check if they are in the right format

In [ ]:
type(dogs.loc[0, 'posted'])
type(dogs.loc[0, 'accessed'])

Since they are in string format, we convert them to date format

In [ ]:
#for i in range(len(dogs)):
        #dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        #dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")

We can see that there are some variables that do not contain a date, let's see which ones

In [ ]:
for i in range(len(dogs)):
    if(len(dogs.loc[i,'posted'])!=24):
        print(dogs.iloc[i,])

The problem with these rows is that they have not been split properly in cell 'name'. Let's solve the problem and transform the dates into datatime format

In [ ]:
for i in range(len(dogs)):
    if(len(dogs.loc[i,'posted'])==24):
        dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")
    else :
        j=26
        l=(dogs.iloc[i,24]).split(' ',1)
        prov=dogs.iloc[i,25]
        dogs.iloc[i,25]=l[1]
        dogs.iloc[i,24]=l[0]
        while(j<34):
            prov2=dogs.iloc[i,j]
            dogs.iloc[i,j]=prov
            prov=prov2
            j=j+1
        dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")

Now we can solve this task using a 'while' loop which scrolls through all the rows of the dataframe and stores only the identification code of the dogs that have a status other than adoptable

In [ ]:
lista=[]
i=0
while(i<len(dogs)):
    if (dogs.loc[i,'status']!='adoptable'):
        lista.append(dogs.loc[i,'id'])
    i=i+1
lista

## 2. For each (primary) breed, determine the number of dogs

In [ ]:
dogs.groupby('breed_primary').count()['id']

## 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed.

Let's see all the primary breed with a groupBy:

In [ ]:
nBreed = dogs.groupby('breed_primary').count()[['species','breed_secondary']]
nBreed

As we can see we can use "species" as total number of individues for this species.
Affenpischer are in total 17 dogs, 2 of those are mixed breed.

Rename colums

In [ ]:
nBreed = nBreed.rename( columns = {'species':'total', 'breed_secondary':'nSecondary'})
nBreed

We have to compute how many are primary breed:

In [ ]:
nBreed['nPrimary'] = nBreed['total'] - nBreed['nSecondary']
nBreed

It's time to compute the ratio between Primary and Secondary Breed.

In [ ]:
nBreed['ratioBreed'] = nBreed['nPrimary'] / nBreed['nSecondary']
nBreed

As we can see, there are many 'inf' values. It is correct because for that breed there are not any secondary breed.

## 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

We use the group by method to solve this task starting from the latest posted timestamp.

In [ ]:
df_new = dogs[dogs.groupby('breed_primary')['posted'].transform('max') == dogs['posted']]
df_new.loc[ :, ['breed_primary', 'posted']]

In [ ]:
df_new = dogs[dogs.groupby('breed_primary')['posted'].transform('min') == dogs['posted']]
df_new.loc[ :, ['breed_primary', 'posted']]

## 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

we create a table with count of male dogs for each state (contanct_state)

In [ ]:
dog_male=dogs[dogs['sex']=='Male']
dog_male=dog_male.groupby(['contact_state'])[['sex']].count()
dog_male.tail()

we recreate the same table that we have done before with female dogs for each state

In [ ]:
dog_female=dogs[dogs['sex']=='Female']
dog_female=dog_female.groupby(['contact_state'])[['sex']].count()
dog_female.tail()

we create a new table call "dog_sex" thanks to merge between male dogs and female dogs on contact_state

In [ ]:
dog_sex=pd.merge(dog_male,dog_female,on="contact_state")
dog_sex.rename( columns = {'sex_x':'tot_male','sex_y':'tot_female'})
dog_sex=dog_sex.rename( columns = {'sex_x':'tot_male','sex_y':'tot_female'})
dog_sex.tail()

we compute the imbalance like difference between male and female dogs and after we calculate the absolute value of the imbalance given that we consider only positive value of imbalance for each contact_state

In [ ]:
dog_sex["imbalance"]=dog_sex["tot_male"]-dog_sex["tot_female"]
dog_sex["imbalance"]=abs(dog_sex["imbalance"])
dog_sex.tail()

we found the state with the largest imbalance

In [ ]:
dog_sex[dog_sex["imbalance"]==dog_sex["imbalance"].max()]

In [ ]:
dog_sex["imbalance"].nlargest(1)

## 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

Explore the dog's column names

In [ ]:
dogs.columns

Compute the mean of the stay duration and stay cost for the pair AGE, SIZE;

In [ ]:
AgeSize = dogs.groupby(['age', 'size'])[['stay_duration','stay_cost']].mean()
AgeSize

## 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

Let's start grouping the dataset by the variable id

In [ ]:
count=dogTravel.groupby('id').count()

We reset the index

In [ ]:
count.reset_index(inplace=True)

Now we compute a list of only dogs that have made at least 2 trips

In [ ]:
list_index=(count[count['index']>2])['id'].tolist()

Finally we build a dictionary having as key the identification code of the dog that has made at least 2 trips, and as value its primary breed. 
To do this a for loop will be used which compares each identification code of the dog in the staring dataset with those contained in the list created above

In [ ]:
diz={}
for index in list_index:
    for i in range(len(dogs)):
        if (dogs.loc[i, 'id']==index):
            diz[dogs.loc[i, 'id']]= dogs.loc[i, 'breed_primary']
diz

## 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

To resolve the question, we create two different tables, the first table is compose with only observation field manual full.

In [ ]:
manual_not_na=dogTravel[dogTravel['manual'].notna()]
manual_not_na

in this table we create a new column ("correct_state") with the same values in manual (cause are the values that will be overrides in found column)

In [ ]:
manual_not_na["correct_state"] = manual_not_na["manual"]
manual_not_na

on second table, we subset only the observations with empty manual values

In [ ]:
manual_na=dogTravel[dogTravel['manual'].isna()]
manual_na

in this table we create a new column ("correct_state") with the same values in found (cause are the values that will be not overrides)

In [ ]:
manual_na["correct_state"] = manual_na["found"]
manual_na

subsequantly we recreate a new df with the concatenate of the two tables that we had created before, and we order them with index sort

In [ ]:
df=pd.concat([manual_na,manual_not_na])
df=df.sort_index()
df

now we have got a column correct_state complete with the values overrides and not overrides, so we replace that values at the column found of dogTravel dataframe and we ending the point

In [ ]:
dogTravel["found"]=df["correct_state"]
dogTravel

In the last result, we have got in found column the manual values only if they are not "NaN"

## 9. For each state, compute the ratio between the number of travels and the population.

In [ ]:
import pycountry #have to install it (pip install pycountry)

### First Dataset Analysis

In [ ]:
dogTravel.shape #number of total travell done

In [ ]:
dogTravel.groupby(['contact_state']).count().shape 
#number of countries that have made trips

In [ ]:
nstest.shape #number of country in csv population

51 states, 45 states that have made trips, total trips 6149

In [ ]:
#change label
nTravelForState = dogTravel.groupby(['contact_state']).count()[['index']].reset_index().rename(columns={'contact_state':'state', 'index':'nTravel'})
nTravelForState.head()

In [ ]:
nTravelForState['nTravel'].sum() #sum is correct

In [ ]:
nTravelForState.shape

### There is an error

In [ ]:
dogTravel[dogTravel['contact_state'] == '17325']

The number refers to state of Pensylvania. It needs to be corrected

In [ ]:
nTravelForState[nTravelForState['state']=='PA']

In [ ]:
#take the 2 values
PAerr = nTravelForState[nTravelForState['state'] == '17325']['nTravel']
PAcorr = nTravelForState[nTravelForState['state'] == 'PA']['nTravel']

In [ ]:
#delete the wrong row
nTravelForState = nTravelForState.drop(nTravelForState.index[nTravelForState['state'] == '17325']).reset_index()

In [ ]:
nTravelForState.head()

In [ ]:
#Add the right value
nTravelForState.loc[nTravelForState['state']=='PA', 'nTravel'] = sum(PAcorr, PAerr).values
nTravelForState[nTravelForState['state'] == 'PA']

#### Country that have made trips become 43

### Table State and Popolation

In [ ]:
nstest[1] = nstest[1].str.replace('.','')

In [ ]:
state = nstest.rename(columns = {0:'state', 1:'nPopulation'})
state.head()

#### Add state code

In [ ]:
def findCountryAlpha2 (country_name):
    try:
        sub = pycountry.subdivisions.lookup(country_name)
        sample_str = sub.code
        stateCode = sub.code[-2:]
        return stateCode
    except:
        return ("not founded!")

state['state_code'] = state.apply(lambda row: findCountryAlpha2(row.state) , axis = 1)
state.head()

### Still errors

#### MT

In [ ]:
#Library pycountry has a code wrong for Montana state
state[state['state']=='Montana']

In [ ]:
state.loc[state['state']=='Montana', 'state_code'] = 'MT'
state[state['state']=='Montana']

#### MY

In [ ]:
# another error in library pycountry referred to Maryland code state
state[state['state']=='Maryland']

In [ ]:
state.loc[state['state']=='Maryland', 'state_code'] = 'MD'
state[state['state']=='Maryland']

#### CSV nstest

In [ ]:
#there are some state_code NB which are the same state that NJ
nTravelForState[nTravelForState['state']=='NB']

In [ ]:
nTravelForState[nTravelForState['state']=='NJ']

In [ ]:
NJerr = nTravelForState[nTravelForState['state'] == 'NB']['nTravel']
NJcorr = nTravelForState[nTravelForState['state'] == 'NJ']['nTravel']

In [ ]:
#delete the wrong row
nTravelForState = nTravelForState.drop(nTravelForState.index[nTravelForState['state'] == 'NB']).reset_index()

In [ ]:
#salvo il valore in NJ
nTravelForState.loc[nTravelForState['state']=='NJ', 'nTravel'] = sum(NJcorr, NJerr).values
nTravelForState[nTravelForState['state'] == 'NJ']

#### Now the number of country that have done trips are 43

### Merging time

In [ ]:
table_travel_for_state = pd.merge(state, nTravelForState, left_on='state_code', right_on='state')[['state_x', 'nPopulation', 'nTravel']]
table_travel_for_state.head()

In [ ]:
#check if sum is correct
table_travel_for_state['nTravel'].sum()

### Add ratio between the number of travels and the population

In [ ]:
table_travel_for_state['nPopulation'] = table_travel_for_state['nPopulation'].apply(pd.to_numeric)

In [ ]:
table_travel_for_state['ratio_Travel_Population'] = table_travel_for_state['nPopulation'] / table_travel_for_state['nTravel']
table_travel_for_state.head()

## 10. For each dog, compute the number of days from the posted day to the day of last access.

To solve this task the difference between the column 'posted' and the column 'accessed' will be calculated.
The information obtained will be stored in a dictionary having the dog's identification code as the key and 
the days between the posted day and the last access as value.

In [ ]:
diz={}
for i in range(len(dogs)):
    diz[dogs.loc[i,'id']]= -1*(dogs.loc[i, 'posted'] - dogs.loc[i, 'accessed']).days
diz

## 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

## 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [3]:
# 1) creo una tabella con tutti gli elementi che hanno uguale breeed & sex 
duplicate_table = dogs.iloc[:, [0,13,5,34]]
duplicate_table

,id,sex,breed_primary,description
0,46042150,Male,American Staffordshire Terrier,Harley is not sure how he wound up at shelter ...
1,46042002,Male,Pit Bull Terrier,6 year old Biggie has lost his home and really...
2,46040898,Male,Shepherd,Approx 2 years old.\n Did I catch your eye? I ...
3,46039877,Female,German Shepherd Dog,NaN
4,46039306,Male,Dachshund,Theo is a friendly dachshund mix who gets alon...
...,...,...,...,...
58175,44605893,Male,Border Collie,"Due to the small size of our volunteer base, w..."
58176,44457061,Female,Australian Shepherd,NaN
58177,42865848,Female,Border Collie,"Due to the small size of our volunteer base, w..."
58178,42734734,Male,Boxer,NaN
58179,42663515,Male,Labrador Retriever,NaN

In [4]:
#elimino tutte le righe che hanno NaN come descrizione perchÃ© non possono essere duplicate 
duplicate_table = duplicate_table[duplicate_table['description'].notna()]

In [5]:
duplicate_female = duplicate_table[duplicate_table['sex'] == 'Female']
duplicate_male = duplicate_table[duplicate_table['sex'] == 'Male']

In [6]:
#riordino le righe per breed-primary
duplicate_female = duplicate_female.sort_values(by = 'breed_primary').reset_index()
duplicate_male = duplicate_male.sort_values(by = 'breed_primary').reset_index()

In [7]:
#controllo tutti i duplicati anche 
def scannerDuplicate(tab):
    duplicate = {}
    for i in range(len(tab)): # per scorrere tutte le righe
        breed1 = tab.iloc[i]['breed_primary']
        desc1 = tab.iloc[i]['description']
        identi1 = tab.iloc[i]['id']

        for j in range(i+1,len(tab)): # scorrere le righe interne alla razza
            breed2 = tab.iloc[j]['breed_primary']
            desc2 = tab.iloc[j]['description']
            identi2 = tab.iloc[j]['id']

            if breed1 == breed2: #se uguale razza allora faccio il confronto
                if SequenceMatcher(None, desc1, desc2).ratio() >= 0.9: #se supera il 90% allora sono cloni e salvo i valori
                    duplicate[identi1]= 'duplicate'
                    duplicate[identi2]= 'duplicate'
            else: #razza diversa fermo j e mando avanti i
                break
            
            
    return duplicate


#1) ho provato a fermare il ciclo quando incontro un duplicato, sensibilmente piÃ¹ veloce ma salto duplicati
#  1.1) if index1 not in duplicate2: -> prima del secondo for
#  1.2) break -> finito if sentencematcher
#2) ho provato a riordinare in base all'indice e non piÃ¹ alla razza, sembra funzionare e va nettamente piÃ¹ veloce
#  2.1) ordinare per indice non trova tutti i duplicati, ogni volta che cambia razza perdo duplicati

In [10]:
prova_female = duplicate_female.iloc[0:300]
prova_female

,index,id,sex,breed_primary,description
0,32156,45970614,Female,Affenpinscher,Elsie.jpgThank you for looking at our availabl...
1,54676,45896635,Female,Affenpinscher,Sweet older girl whose had a rough couple year...
2,24994,22427951,Female,Affenpinscher,To see even more click the following link:\n\n...
3,51866,45916762,Female,Affenpinscher,Norma Jean is an Affenpinscher mix girl that w...
4,32235,45871731,Female,Affenpinscher,55351.jpgThank you for looking at our availabl...
...,...,...,...,...,...
295,27808,43931069,Female,American Bulldog,\nWe cannot look at Sincere's little lovebug f...
296,23806,45517678,Female,American Bulldog,You can fill out an adoption application onlin...
297,25363,45989541,Female,American Bulldog,"Hi, I'm Jingles. I am very excited to meet you..."
298,27878,43611430,Female,American Bulldog,"Olive was a thin, flea-infested stray that too..."
299,55825,46005060,Female,American Bulldog,Poor Jewel was found in the streets with a pro...

In [14]:
r=scannerDuplicate(prova_female)
r

{45970614: 'duplicate',
 45871731: 'duplicate',
 46023964: 'duplicate',
 46023963: 'duplicate',
 42087185: 'duplicate',
 43170920: 'duplicate',
 45986905: 'duplicate',
 45986935: 'duplicate',
 44518435: 'duplicate',
 44517341: 'duplicate',
 44130324: 'duplicate',
 45932298: 'duplicate',
 45931729: 'duplicate',
 46028451: 'duplicate',
 46028452: 'duplicate',
 46028453: 'duplicate',
 45560548: 'duplicate',
 45570899: 'duplicate',
 45949697: 'duplicate',
 46021044: 'duplicate',
 45252099: 'duplicate',
 45255573: 'duplicate',
 45872595: 'duplicate',
 45897563: 'duplicate',
 45897570: 'duplicate'}

In [15]:
len(r)

25