# Foundations of Computer Science - progetto 2022/23

- Mattia Birti [897092] 
- Alberto Porrini [826306]
- Gloria Longo [864579]

You have to work on the Dogs adoptions dataset:
*  [Dogs](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/dogs.csv)
*  [Dog Travel](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/dogTravel.csv)
*  [NST-EST2021-POP](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/NST-EST2021-POP.csv)

### Notes

1. It is mandatory to use GitHub for developing the project.
1. The project must be a jupyter notebook.
1. There is no restriction on the libraries that can be used, nor on the Python version.
1. All questions on the project must be asked in a public channel on Zulip.
1. At most 3 students can be in each group. You must create the groups by yourself.
1. You do not have to send me the project before the discussion.s

## Libraries

In [1]:
import pandas as pd
from datetime import datetime
from difflib import SequenceMatcher
import pycountry #have to install it (pip install pycountry)

### Import data from GitHub

#### Dogs.csv

In [2]:
dogs = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/dogs.csv", sep=",", encoding='latin-1')

In [3]:
dogs.shape

(58180, 37)

In [4]:
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

#### DogTravel.csv

In [5]:
dogTravel = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/dogTravel.csv", sep=",", encoding='latin-1')

In [6]:
dogTravel.shape

(6194, 9)

In [7]:
dogTravel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

#### NST-EST.csv

In [8]:
nstest = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/NST-EST2021-POP.csv", header=None, sep=",", encoding='latin-1')

In [9]:
nstest.shape

(51, 2)

In [10]:
nstest.head()

            0           1
0     Alabama   5.024.279
1      Alaska     733.391
2     Arizona   7.151.502
3    Arkansas   3.011.524
4  California  39.538.223

## 1. Extract all dogs with status that is not adoptable

Explore the dog's column names

In [11]:
dogs.columns

Index(['id', 'org_id', 'url', 'type.x', 'species', 'breed_primary',
       'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary',
       'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat',
       'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current',
       'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted',
       'contact_city', 'contact_state', 'contact_zip', 'contact_country',
       'stateQ', 'accessed', 'type.y', 'description', 'stay_duration',
       'stay_cost'],
      dtype='object')

Explore the first row

In [12]:
dogs.iloc[0,:]

id                                                          46042150
org_id                                                         NV163
url                https://www.petfinder.com/dog/harley-46042150/...
type.x                                                           Dog
species                                                          Dog
breed_primary                         American Staffordshire Terrier
breed_secondary                                          Mixed Breed
breed_mixed                                                     True
breed_unknown                                                  False
color_primary                                          White / Cream
color_secondary                          Yellow / Tan / Blond / Fawn
color_tertiary                                                   NaN
age                                                           Senior
sex                                                             Male
size                                                          Medium
coat                                                           Short
fixed                                                           True
house_trained                                                   True
declawed                                                         NaN
special_needs                                                  False
shots_current                                                   True
env_children                                                     NaN
env_dogs                                                         NaN
env_cats                                                         NaN
name                                                          HARLEY
status                                                     adoptable
posted                                      2019-09-20T16:37:59+0000
contact_city                                               Las Vegas
contact_state                                                     NV
contact_zip                                                    89147
contact_country                                                   US
stateQ                                                         89009
accessed                                                  2019-09-20
type.y                                                           Dog
description        Harley is not sure how he wound up at shelter ...
stay_duration                                                     70
stay_cost                                                     124.81
Name: 0, dtype: object

We can see that there are two variables (posted, accessed) that contain dates, let's check if they are in the right format

In [13]:
type(dogs.loc[0, 'posted'])
type(dogs.loc[0, 'accessed'])

str

Since they are in string format, we convert them to date format

In [14]:
#for i in range(len(dogs)):
        #dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        #dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")

We can see that there are some variables that do not contain a date, let's see which ones

In [15]:
#for i in range(len(dogs)):
#    if(len(dogs.loc[i,'posted'])!=24):
#        print(dogs.iloc[i,])

The problem with these rows is that they have not been split properly in cell 'name'. Let's solve the problem and transform the dates into datatime format

In [16]:
for i in range(len(dogs)):
    if(len(dogs.loc[i,'posted'])==24):
        dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")
    else :
        j=26
        l=(dogs.iloc[i,24]).split(' ',1)
        prov=dogs.iloc[i,25]
        dogs.iloc[i,25]=l[1]
        dogs.iloc[i,24]=l[0]
        while(j<33):
            prov2=dogs.iloc[i,j]
            dogs.iloc[i,j]=prov
            prov=prov2
            j=j+1
        dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")

Now we can solve this task using a 'while' loop which scrolls through all the rows of the dataframe and stores only the identification code of the dogs that have a status other than adoptable

In [17]:
lista=[]
i=0
while(i<len(dogs)):
    if (dogs.loc[i,'status']!='adoptable'):
        lista.append(dogs.loc[i,'id'])
    i=i+1
lista

[41330726,
 38169117,
 45833989,
 45515547,
 45294115,
 45229004,
 45227052,
 45569380,
 44694387,
 36978896,
 33218331,
 42092005,
 39594038,
 45895274,
 45964719,
 44538917,
 41430442,
 45907639,
 45362806,
 32590894,
 31426754,
 46037827,
 44044071,
 27521132,
 38473806,
 34101432,
 45958435,
 45927580,
 45916348,
 45733027,
 45413997,
 45406516,
 45264615]

## 2. For each (primary) breed, determine the number of dogs

In [18]:
dogs.groupby('breed_primary').count()['id']

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Name: id, Length: 216, dtype: int64

## 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed.

Let's see all the primary breed with a groupBy:

In [19]:
nBreed = dogs.groupby('breed_primary').count()[['species','breed_secondary']]
nBreed

                                   species  breed_secondary
breed_primary
Affenpinscher                           17                2
Afghan Hound                             4                1
Airedale Terrier                        19                9
Akbash                                   3                0
Akita                                  181               52
...                                    ...              ...
Wirehaired Pointing Griffon              1                0
Wirehaired Terrier                      60               18
Xoloitzcuintli / Mexican Hairless       11                4
Yellow Labrador Retriever              158               62
Yorkshire Terrier                      360              129

[216 rows x 2 columns]

As we can see we can use "species" as total number of individues for this species.
Affenpischer are in total 17 dogs, 2 of those are mixed breed.

Rename colums

In [20]:
nBreed = nBreed.rename( columns = {'species':'total', 'breed_secondary':'nSecondary'})
nBreed

                                   total  nSecondary
breed_primary
Affenpinscher                         17           2
Afghan Hound                           4           1
Airedale Terrier                      19           9
Akbash                                 3           0
Akita                                181          52
...                                  ...         ...
Wirehaired Pointing Griffon            1           0
Wirehaired Terrier                    60          18
Xoloitzcuintli / Mexican Hairless     11           4
Yellow Labrador Retriever            158          62
Yorkshire Terrier                    360         129

[216 rows x 2 columns]

We have to compute how many are primary breed:

In [21]:
nBreed['nPrimary'] = nBreed['total'] - nBreed['nSecondary']
nBreed

                                   total  nSecondary  nPrimary
breed_primary
Affenpinscher                         17           2        15
Afghan Hound                           4           1         3
Airedale Terrier                      19           9        10
Akbash                                 3           0         3
Akita                                181          52       129
...                                  ...         ...       ...
Wirehaired Pointing Griffon            1           0         1
Wirehaired Terrier                    60          18        42
Xoloitzcuintli / Mexican Hairless     11           4         7
Yellow Labrador Retriever            158          62        96
Yorkshire Terrier                    360         129       231

[216 rows x 3 columns]

It's time to compute the ratio between Primary and Secondary Breed.

In [22]:
nBreed['ratioBreed'] = nBreed['nPrimary'] / nBreed['nSecondary']
nBreed

                                   total  nSecondary  nPrimary  ratioBreed
breed_primary
Affenpinscher                         17           2        15    7.500000
Afghan Hound                           4           1         3    3.000000
Airedale Terrier                      19           9        10    1.111111
Akbash                                 3           0         3         inf
Akita                                181          52       129    2.480769
...                                  ...         ...       ...         ...
Wirehaired Pointing Griffon            1           0         1         inf
Wirehaired Terrier                    60          18        42    2.333333
Xoloitzcuintli / Mexican Hairless     11           4         7    1.750000
Yellow Labrador Retriever            158          62        96    1.548387
Yorkshire Terrier                    360         129       231    1.790698

[216 rows x 4 columns]

As we can see, there are many 'inf' values. It is correct because for that breed there are not any secondary breed.

## 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

We use the group by method to solve this task starting from the latest posted timestamp.

In [23]:
df_new = dogs[dogs.groupby('breed_primary')['posted'].transform('max') == dogs['posted']]
df_new.loc[ :, ['breed_primary', 'posted']]

                        breed_primary               posted
0      American Staffordshire Terrier  2019-09-20 16:37:59
6                   Italian Greyhound  2019-09-20 06:42:30
749                  American Bulldog  2019-09-20 16:06:25
1034                 Pit Bull Terrier  2019-09-20 17:20:30
1035                   Cocker Spaniel  2019-09-20 17:20:30
...                               ...                  ...
55810                    Mountain Dog  2019-09-17 06:00:26
56127                        Tosa Inu  2019-09-04 00:48:24
56696                  Thai Ridgeback  2019-05-11 12:51:57
57459                   Saint Bernard  2019-09-19 17:41:48
57631     Belgian Shepherd / Tervuren  2019-09-02 15:58:23

[234 rows x 2 columns]

In [24]:
df_new = dogs[dogs.groupby('breed_primary')['posted'].transform('min') == dogs['posted']]
df_new.loc[ :, ['breed_primary', 'posted']]

                           breed_primary               posted
693                            Shiba Inu  2016-02-22 23:53:06
726                       Siberian Husky  2011-01-14 21:58:52
728                              Mastiff  2010-03-13 00:00:00
735                       Boston Terrier  2009-03-23 00:00:00
738                           Otterhound  2008-03-14 00:00:00
...                                  ...                  ...
56902          American Hairless Terrier  2013-07-03 10:05:41
57449                Australian Shepherd  2008-11-06 00:00:00
57450  Xoloitzcuintli / Mexican Hairless  2007-02-01 00:00:00
58090                      Presa Canario  2016-10-08 18:20:52
58127                 Norwegian Elkhound  2010-03-18 00:00:00

[219 rows x 2 columns]

## 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

we create a table with count of male dogs for each state (contanct_state)

In [25]:
dog_male=dogs[dogs['sex']=='Male']
dog_male=dog_male.groupby(['contact_state'])[['sex']].count()
dog_male.tail()

               sex
contact_state
VT             276
WA             686
WI             277
WV             333
WY              31

we recreate the same table that we have done before with female dogs for each state

In [26]:
dog_female=dogs[dogs['sex']=='Female']
dog_female=dog_female.groupby(['contact_state'])[['sex']].count()
dog_female.tail()

               sex
contact_state
VT             234
WA             598
WI             265
WV             232
WY              21

we create a new table call "dog_sex" thanks to merge between male dogs and female dogs on contact_state

In [27]:
dog_sex=pd.merge(dog_male,dog_female,on="contact_state")
dog_sex.rename( columns = {'sex_x':'tot_male','sex_y':'tot_female'})
dog_sex=dog_sex.rename( columns = {'sex_x':'tot_male','sex_y':'tot_female'})
dog_sex.tail()

               tot_male  tot_female
contact_state
VT                  276         234
WA                  686         598
WI                  277         265
WV                  333         232
WY                   31          21

we compute the imbalance like difference between male and female dogs and after we calculate the absolute value of the imbalance given that we consider only positive value of imbalance for each contact_state

In [28]:
dog_sex["imbalance"]=dog_sex["tot_male"]-dog_sex["tot_female"]
dog_sex["imbalance"]=abs(dog_sex["imbalance"])
dog_sex.tail()

               tot_male  tot_female  imbalance
contact_state
VT                  276         234         42
WA                  686         598         88
WI                  277         265         12
WV                  333         232        101
WY                   31          21         10

we found the state with the largest imbalance

In [29]:
dog_sex["imbalance"].nlargest(1)

contact_state
OH    205
Name: imbalance, dtype: int64

## 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

Compute the mean of the stay duration and stay cost for the pair AGE, SIZE;

In [30]:
AgeSize = dogs.groupby(['age', 'size'])[['stay_duration','stay_cost']].mean()
AgeSize

                    stay_duration   stay_cost
age    size
Adult  Extra Large      89.015414  232.591561
       Large            89.531943  238.661141
       Medium           89.421036  238.258977
       Small            89.407479  238.974838
Baby   Extra Large      87.032967  237.180879
       Large            89.701564  238.698827
       Medium           89.577668  237.108131
       Small            89.958291  239.083810
Senior Extra Large      88.861111  235.232361
       Large            88.984298  237.507364
       Medium           89.810052  238.514615
       Small            89.073626  238.282286
Young  Extra Large      90.586345  245.835582
       Large            90.104206  238.149506
       Medium           89.515123  239.304603
       Small            89.814275  241.540069

## 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

Let's start grouping the dataset by the variable id

In [31]:
count=dogTravel.groupby('id').count()

We reset the index

In [32]:
count.reset_index(inplace=True)

Now we compute a list of only dogs that have made at least 2 trips

In [33]:
list_index=(count[count['index']>2])['id'].tolist()

Finally we build a dictionary having as key the identification code of the dog that has made at least 2 trips, and as value its primary breed. 
To do this a for loop will be used which compares each identification code of the dog in the staring dataset with those contained in the list created above

In [34]:
diz={}
for index in list_index:
    for i in range(len(dogs)):
        if (dogs.loc[i, 'id']==index):
            diz[dogs.loc[i, 'id']]= dogs.loc[i, 'breed_primary']
diz

{16657005: 'Pit Bull Terrier',
 20905974: 'Chow Chow',
 24894870: 'Hound',
 24894894: 'Hound',
 33218331: 'Alaskan Malamute',
 36978896: 'Alaskan Malamute',
 37108842: 'Pit Bull Terrier',
 37253070: 'Labrador Retriever',
 37848260: 'Labrador Retriever',
 38050885: 'Pit Bull Terrier',
 38495992: 'Pit Bull Terrier',
 38664932: 'Pit Bull Terrier',
 39608594: 'Pointer',
 40036107: 'Pit Bull Terrier',
 40103682: 'Rat Terrier',
 41144335: 'Chihuahua',
 41359772: 'German Shepherd Dog',
 42445043: 'Dutch Shepherd',
 42525486: 'Cairn Terrier',
 42778494: 'Jack Russell Terrier',
 42825396: 'Parson Russell Terrier',
 42835971: 'Pit Bull Terrier',
 43082511: 'Saluki',
 43379087: 'Labrador Retriever',
 43401994: 'Labrador Retriever',
 43529811: 'Mastiff',
 43576891: 'Labrador Retriever',
 43576898: 'Labrador Retriever',
 43618547: 'Alaskan Malamute',
 43679504: 'Pit Bull Terrier',
 43829075: 'American Bulldog',
 43956989: 'Mixed Breed',
 44070616: 'Alaskan Malamute',
 44077433: 'Labrador Retriever',
 44077438: 'Labrador Retriever',
 44095100: 'Belgian Shepherd / Malinois',
 44148011: 'Galgo Spanish Greyhound',
 44249550: 'Mountain Dog',
 44266927: 'Yellow Labrador Retriever',
 44267041: 'Yellow Labrador Retriever',
 44280068: 'Dalmatian',
 44295674: 'Mixed Breed',
 44354740: 'Labrador Retriever',
 44372080: 'Labrador Retriever',
 44372108: 'Labrador Retriever',
 44375521: 'Border Collie',
 44411666: 'Black Mouth Cur',
 44441797: 'Labrador Retriever',
 44441937: 'Labrador Retriever',
 44510615: 'Saluki',
 44516642: 'Labrador Retriever',
 44516671: 'Labrador Retriever',
 44551665: 'Labrador Retriever',
 44551680: 'Labrador Retriever',
 44562431: 'Boxer',
 44572953: 'Alaskan Malamute',
 44649686: 'American Staffordshire Terrier',
 44649688: 'American Staffordshire Terrier',
 44662491: 'Maltese',
 44663527: 'Presa Canario',
 44686426: 'German Shepherd Dog',
 44686601: 'Pit Bull Terrier',
 44688750: 'Poodle',
 44698204: 'Poodle',
 44702768: 'Black Mouth Cur',
 44710284: 'Chihuahua',
 44759406: 'Chihuahua',
 44759409: 'German Shepherd Dog',
 44759410: 'German Shepherd Dog',
 44759416: 'Boxer',
 44759419: 'Cairn Terrier',
 44759428: 'Dachshund',
 44759429: 'Dachshund',
 44759434: 'Labrador Retriever',
 44759435: 'Golden Retriever',
 44759438: 'Australian Cattle Dog / Blue Heeler',
 44770635: 'Labrador Retriever',
 44770640: 'Labrador Retriever',
 44786575: 'Poodle',
 44853480: 'Labrador Retriever',
 44915280: 'Labrador Retriever',
 44915288: 'Labrador Retriever',
 44944778: 'Labrador Retriever',
 44944805: 'Labrador Retriever',
 44967275: 'Dachshund',
 44967336: 'Labrador Retriever',
 44971695: 'Chihuahua',
 44971754: 'Chihuahua',
 44978259: 'Treeing Walker Coonhound',
 44994123: 'Dalmatian',
 45017094: 'Australian Cattle Dog / Blue Heeler',
 45026953: 'Jindo',
 45051161: 'Black Labrador Retriever',
 45051167: 'Black Labrador Retriever',
 45062296: 'Great Pyrenees',
 45062298: 'Labrador Retriever',
 45062301: 'Pointer',
 45062308: 'Shepherd',
 45062315: 'Pit Bull Terrier',
 45062319: 'Pit Bull Terrier',
 45062325: 'Pit Bull Terrier',
 45079017: 'Labrador Retriever',
 45079045: 'Labrador Retriever',
 45082802: 'Maltese',
 45083253: 'Black Mouth Cur',
 45096632: 'Mixed Breed',
 45117075: 'Labrador Retriever',
 45117085: 'Labrador Retriever',
 45138742: 'Jack Russell Terrier',
 45158846: 'Pomeranian',
 45183644: 'Saluki',
 45192185: 'Borzoi',
 45230596: 'Australian Cattle Dog / Blue Heeler',
 45249846: 'Labrador Retriever',
 45263815: 'Great Dane',
 45266631: 'Labrador Retriever',
 45282250: 'Chihuahua',
 45315486: 'Pit Bull Terrier',
 45325825: 'Greyhound',
 45340641: 'Jack Russell Terrier',
 45345676: 'Jindo',
 45348819: 'Terrier',
 45384684: 'Mixed Breed',
 45384707: 'Mixed Breed',
 45384711: 'Mixed Breed',
 45384747: 'Mixed Breed',
 45384755: 'Mixed Breed',
 45384763: 'Mixed Breed',
 45384784: 'Mixed Breed',
 45384794: 'Mixed Breed',
 45384804: 'Mixed Breed',
 45410026: 'Lhasa Apso',
 45414886: 'Labrador Retriever',
 45414888: 'Labrador Retriever',
 45463453: 'German Shepherd Dog',
 45469364: 'Labrador Retriever',
 45469436: 'German Shepherd Dog',
 45486819: 'Mountain Dog',
 45497224: 'Labrador Retriever',
 45501542: 'Labrador Retriever',
 45501566: 'Labrador Retriever',
 45501584: 'Labrador Retriever',
 45537987: 'Alaskan Malamute',
 45546931: 'American Staffordshire Terrier',
 45553633: 'Labrador Retriever',
 45553658: 'Labrador Retriever',
 45554162: 'Terrier',
 45568937: 'Mixed Breed',
 45571226: 'Chihuahua',
 45575639: 'Chihuahua',
 45588395: 'German Shepherd Dog',
 45589114: 'Pit Bull Terrier',
 45591949: 'West Highland White Terrier / Westie',
 45603119: 'Golden Retriever',
 45630519: 'German Shepherd Dog',
 45632458: 'Mixed Breed',
 45642530: 'Jindo',
 45643803: 'Dachshund',
 45651942: 'English Bulldog',
 45655743: 'Dachshund',
 45657652: 'German Shepherd Dog',
 45662979: 'English Pointer',
 45664278: 'Terrier',
 45664542: 'Hound',
 45664566: 'American Bulldog',
 45667631: 'Labrador Retriever',
 45667646: 'Labrador Retriever',
 45670129: 'Papillon',
 45671661: 'Labrador Retriever',
 45671695: 'Labrador Retriever',
 45675487: 'Labrador Retriever',
 45699439: 'Jindo',
 45705132: 'Labrador Retriever',
 45705134: 'Shepherd',
 45710537: 'Jindo',
 45719181: 'Shepherd',
 45726574: 'Doberman Pinscher',
 45726575: 'Doberman Pinscher',
 45728583: 'Alaskan Malamute',
 45744047: 'Labrador Retriever',
 45744151: 'Labrador Retriever',
 45744197: 'Labrador Retriever',
 45744260: 'Labrador Retriever',
 45744333: 'Labrador Retriever',
 45744349: 'Labrador Retriever',
 45744743: 'Labrador Retriever',
 45745151: 'Labrador Retriever',
 45754655: 'Terrier',
 45754664: 'Labrador Retriever',
 45758639: 'Black Labrador Retriever',
 45764737: 'Yorkshire Terrier',
 45764757: 'Chihuahua',
 45764824: 'Chihuahua',
 45771353: 'Chihuahua',
 45772940: 'Basset Hound',
 45772956: 'Basset Hound',
 45772977: 'Basset Hound',
 45772994: 'Basset Hound',
 45773051: 'Basset Hound',
 45773068: 'Basset Hound',
 45777229: 'Labrador Retriever',
 45777269: 'Labrador Retriever',
 45780920: 'Labrador Retriever',
 45781472: 'Labrador Retriever',
 45781491: 'Mixed Breed',
 45782764: 'Hound',
 45782786: 'American Bulldog',
 45802287: 'Terrier',
 45816508: 'Labrador Retriever',
 45816510: 'Labrador Retriever',
 45816512: 'Labrador Retriever',
 45816517: 'Hound',
 45816519: 'Saint Bernard',
 45816520: 'Chihuahua',
 45816524: 'Basset Hound',
 45816525: 'Labrador Retriever',
 45816532: 'Carolina Dog',
 45816534: 'Labrador Retriever',
 45820215: 'Cocker Spaniel',
 45824813: 'West Highland White Terrier / Westie',
 45830510: 'Jindo',
 45830513: 'Spitz',
 45831310: 'Labrador Retriever',
 45831312: 'Chihuahua',
 45831313: 'Chihuahua',
 45831316: 'Catahoula Leopard Dog',
 45831317: 'Shiba Inu',
 45831318: 'Australian Shepherd',
 45831323: 'Anatolian Shepherd',
 45831328: 'Australian Cattle Dog / Blue Heeler',
 45831331: 'Husky',
 45831333: 'Beagle',
 45831337: 'Yellow Labrador Retriever',
 45831338: 'Black and Tan Coonhound',
 45831343: 'Corgi',
 45831344: 'Labrador Retriever',
 45831347: 'Chihuahua',
 45831349: 'Boxer',
 45831351: 'Labrador Retriever',
 45831354: 'Dachshund',
 45831356: 'Shepherd',
 45831358: 'Labrador Retriever',
 45831359: 'American Bulldog',
 45831360: 'Feist',
 45831363: 'Shepherd',
 45831366: 'Labrador Retriever',
 45831368: 'Labrador Retriever',
 45831370: 'Labrador Retriever',
 45831371: 'Husky',
 45831376: 'Shepherd',
 45831379: 'Chihuahua',
 45831380: 'Labrador Retriever',
 45831381: 'Chihuahua',
 45831382: 'Hound',
 45831383: 'Beagle',
 45831393: 'Labrador Retriever',
 45831394: 'Shepherd',
 45831398: 'Beagle',
 45831399: 'Corgi',
 45831401: 'Labrador Retriever',
 45831402: 'Labrador Retriever',
 45831413: 'Labrador Retriever',
 45831414: 'Boxer',
 45831417: 'Boxer',
 45831420: 'Black and Tan Coonhound',
 45831421: 'Australian Cattle Dog / Blue Heeler',
 45831425: 'Shiba Inu',
 45831426: 'Anatolian Shepherd',
 45831427: 'Feist',
 45831428: 'Labrador Retriever',
 45831429: 'Labrador Retriever',
 45831430: 'Labrador Retriever',
 45831434: 'Labrador Retriever',
 45831436: 'Chihuahua',
 45831437: 'Yellow Labrador Retriever',
 45831439: 'Hound',
 45831443: 'Chihuahua',
 45831445: 'Labrador Retriever',
 45831448: 'Australian Shepherd',
 45831450: 'Beagle',
 45831451: 'Catahoula Leopard Dog',
 45831452: 'American Bulldog',
 45835627: 'Shih Tzu',
 45838841: 'Chihuahua',
 45841145: 'Mixed Breed',
 45843684: 'Jindo',
 45843685: 'Cocker Spaniel',
 45843686: 'Samoyed',
 45844045: 'Jindo',
 45844168: 'Spaniel',
 45844821: 'Shepherd',
 45844990: 'Great Pyrenees',
 45850577: 'Labrador Retriever',
 45850594: 'Labrador Retriever',
 45850645: 'Labrador Retriever',
 45850659: 'Labrador Retriever',
 45851842: 'Labrador Retriever',
 45856857: 'Maltese',
 45856858: 'Spaniel',
 45856859: 'Maltese',
 45856873: 'Maltese',
 45856888: 'Pomeranian',
 45857542: 'Japanese Chin',
 45857543: 'Maltese',
 45857564: 'Shiba Inu',
 45857728: 'Poodle',
 45857729: 'Poodle',
 45857750: 'Papillon',
 45857751: 'Cocker Spaniel',
 45857766: 'Poodle',
 45857767: 'Spitz',
 45857772: 'Schnauzer',
 45857773: 'Poodle',
 45857786: 'Pomeranian',
 45859953: 'Labrador Retriever',
 45860053: 'Golden Retriever',
 45860138: 'Redbone Coonhound',
 45860148: 'Labrador Retriever',
 45868153: 'Labrador Retriever',
 45868214: 'Labrador Retriever',
 45868684: 'Hound',
 45868686: 'Border Collie',
 45868688: 'Collie',
 45868690: 'Labrador Retriever',
 45868694: 'Labrador Retriever',
 45868695: 'Labrador Retriever',
 45868697: 'Labrador Retriever',
 45874193: 'Terrier',
 45877178: 'Shepherd',
 45877931: 'Shepherd',
 45879368: 'Labrador Retriever',
 45880427: 'Pointer',
 45880454: 'Pointer',
 45880493: 'Shepherd',
 45881113: 'Labrador Retriever',
 45882506: 'Border Collie',
 45891143: 'Labrador Retriever',
 45891259: 'Labrador Retriever',
 45891399: 'Labrador Retriever',
 45891405: 'Labrador Retriever',
 45894689: 'Chihuahua',
 45897121: 'Collie',
 45897122: 'Catahoula Leopard Dog',
 45897176: 'Labrador Retriever',
 45900946: 'Labrador Retriever',
 45900957: 'Labrador Retriever',
 45901380: 'Labrador Retriever',
 45901417: 'Labrador Retriever',
 45901432: 'Labrador Retriever',
 45901451: 'Labrador Retriever',
 45903656: 'Shih Tzu',
 45903719: 'Mountain Dog',
 45903780: 'Mountain Dog',
 45903781: 'Mountain Dog',
 45903782: 'Mountain Dog',
 45903783: 'Mountain Dog',
 45903807: 'Weimaraner',
 45903811: 'Labrador Retriever',
 45903813: 'Jack Russell Terrier',
 45904452: 'Pit Bull Terrier',
 45906402: 'Labrador Retriever',
 45906427: 'Labrador Retriever',
 45907308: 'Italian Greyhound',
 45907353: 'Labrador Retriever',
 45907825: 'Italian Greyhound',
 45907929: 'Whippet',
 45908415: 'Shar-Pei',
 45911145: 'Schnauzer',
 45911151: 'Shepherd',
 45911674: 'Chihuahua',
 45911675: 'Corgi',
 45911676: 'Border Terrier',
 45922203: 'Labrador Retriever',
 45922328: 'Pointer',
 45922329: 'German Shepherd Dog',
 45922330: 'Irish Wolfhound',
 45922399: 'German Shepherd Dog',
 45922400: 'German Shepherd Dog',
 45922401: 'German Shepherd Dog',
 45922493: 'German Shepherd Dog',
 45922494: 'English Shepherd',
 45922495: 'German Shepherd Dog',
 45922496: 'German Shepherd Dog',
 45922864: 'German Shepherd Dog',
 45922866: 'Catahoula Leopard Dog',
 45922963: 'German Shepherd Dog',
 45922964: 'German Shepherd Dog',
 45922965: 'Pointer',
 45922966: 'German Shepherd Dog',
 45923050: 'German Shepherd Dog',
 45923051: 'German Shepherd Dog',
 45923133: 'Hound',
 45923164: 'Hound',
 45923174: 'Border Collie',
 45923182: 'American Bulldog',
 45923192: 'Hound',
 45923711: 'Rottweiler',
 45923712: 'Australian Cattle Dog / Blue Heeler',
 45923713: 'Poodle',
 45923714: 'Retriever',
 45923715: 'Spaniel',
 45923716: 'Terrier',
 45923717: 'Terrier',
 45923718: 'Terrier',
 45923719: 'Chihuahua',
 45923720: 'Terrier',
 45923721: 'Jack Russell Terrier',
 45923722: 'Terrier',
 45923723: 'Miniature Pinscher',
 45923724: 'Jack Russell Terrier',
 45923725: 'Dachshund',
 45923726: 'Chihuahua',
 45923727: 'Jack Russell Terrier',
 45923728: 'Retriever',
 45923729: 'Retriever',
 45923730: 'Husky',
 45923731: 'Wire Fox Terrier',
 45923732: 'Retriever',
 45923733: 'Terrier',
 45926561: 'Shih Tzu',
 45926568: 'Labrador Retriever',
 45926575: 'Flat-Coated Retriever',
 45929227: 'Retriever',
 45929258: 'Retriever',
 45929298: 'Black Labrador Retriever',
 45929444: 'Labrador Retriever',
 45929664: 'Labrador Retriever',
 45930690: 'American Bulldog',
 45934825: 'Plott Hound',
 45945013: 'Labrador Retriever',
 45945020: 'Labrador Retriever',
 45946397: 'Saint Bernard',
 45946398: 'Beagle',
 45946400: 'Shepherd',
 45954988: 'Husky',
 45954989: 'Husky',
 45954990: 'Husky',
 45954991: 'Husky',
 45954992: 'Husky',
 45954993: 'Husky',
 45954994: 'Husky',
 45957766: 'Labrador Retriever',
 45957770: 'Pug',
 45958103: 'Rottweiler',
 45958304: 'Rottweiler',
 45958355: 'Miniature Schnauzer',
 45958359: 'Boxer',
 45958363: 'American Bulldog',
 45958381: 'American Staffordshire Terrier',
 45960132: 'German Shepherd Dog',
 45963564: 'Labrador Retriever',
 45963726: 'Labrador Retriever',
 45963962: 'Labrador Retriever',
 45964008: 'Labrador Retriever',
 45964143: 'Papillon',
 45964157: 'Miniature Schnauzer',
 45964177: 'Labrador Retriever',
 45964216: 'Black Labrador Retriever',
 45964408: 'Black Labrador Retriever',
 45964416: 'Black Labrador Retriever',
 45964418: 'Labrador Retriever',
 45964450: 'Black Labrador Retriever',
 45964523: 'Dutch Shepherd',
 45965466: 'Chihuahua',
 45965467: 'Australian Terrier',
 45965584: 'Chihuahua',
 45965673: 'Dachshund',
 45965674: 'Dachshund',
 45965792: 'Chihuahua',
 45968373: 'Black Labrador Retriever',
 45968485: 'Black Labrador Retriever',
 45968923: 'Feist',
 45968924: 'Feist',
 45968925: 'Feist',
 45968926: 'Terrier',
 45968927: 'Feist',
 45971387: 'Yorkshire Terrier',
 45972166: 'Galgo Spanish Greyhound',
 45972178: 'Galgo Spanish Greyhound',
 45972195: 'Galgo Spanish Greyhound',
 45972205: 'Galgo Spanish Greyhound',
 45976206: 'Labrador Retriever',
 45976300: 'Labrador Retriever',
 45977176: 'Beagle',
 45977229: 'Golden Retriever',
 45978368: 'Pit Bull Terrier',
 45978369: 'Doberman Pinscher',
 45978371: 'Pit Bull Terrier',
 45979646: 'Mixed Breed',
 45979662: 'Mixed Breed',
 45979734: 'Mixed Breed',
 45979924: 'Mixed Breed',
 45980042: 'Mixed Breed',
 45980054: 'Mixed Breed',
 45981633: 'Labrador Retriever',
 45981648: 'Labrador Retriever',
 45982927: 'Cattle Dog',
 45982956: 'Black Labrador Retriever',
 45983500: 'Labrador Retriever',
 45983528: 'Labrador Retriever',
 45983543: 'Chocolate Labrador Retriever',
 45983574: 'Chocolate Labrador Retriever',
 45984166: 'Labrador Retriever',
 45984168: 'Labrador Retriever',
 45984176: 'Labrador Retriever',
 45984178: 'Labrador Retriever',
 45988387: 'Alaskan Malamute',
 45991032: 'Labrador Retriever',
 46005811: 'Labrador Retriever',
 46005812: 'Labrador Retriever',
 46005813: 'Labrador Retriever',
 46005814: 'Labrador Retriever',
 46005815: 'Labrador Retriever',
 46005816: 'Labrador Retriever',
 46005817: 'Labrador Retriever',
 46005818: 'Labrador Retriever',
 46005819: 'Beagle',
 46006387: 'Mountain Dog',
 46006394: 'Mountain Dog',
 46006395: 'Mountain Dog',
 46006396: 'Mountain Dog',
 46006404: 'Mountain Dog',
 46014033: 'Husky',
 46014084: 'Poodle',
 46014085: 'Cairn Terrier',
 46015290: 'Labrador Retriever',
 46015337: 'Labrador Retriever',
 46016193: 'Labrador Retriever',
 46016209: 'Labrador Retriever',
 46016726: 'Boston Terrier',
 46016727: 'Saint Bernard',
 46019128: 'Shih Tzu',
 46026615: 'Terrier',
 46028357: 'Labrador Retriever',
 46030082: 'Labrador Retriever',
 46030086: 'Labrador Retriever',
 46036350: 'Pug',
 46037801: 'Chihuahua',
 46038131: 'Labrador Retriever',
 46038191: 'Labrador Retriever',
 46038194: 'Yorkshire Terrier',
 46038201: 'Labrador Retriever',
 46038273: 'Labrador Retriever',
 46038279: 'Labrador Retriever',
 46038304: 'Labrador Retriever',
 46038340: 'Labrador Retriever',
 46038360: 'Labrador Retriever',
 46038373: 'Labrador Retriever',
 46038557: 'Retriever',
 46039420: 'Border Collie',
 46039516: 'Doberman Pinscher',
 46039522: 'Australian Cattle Dog / Blue Heeler',
 46039523: 'German Shepherd Dog',
 46041165: 'Shepherd',
 46041402: 'Labrador Retriever',
 46041584: 'Labrador Retriever',
 46042334: 'Labrador Retriever',
 46042372: 'Labrador Retriever',
 46042569: 'Labrador Retriever',
 46042587: 'Labrador Retriever',
 46042618: 'Labrador Retriever',
 46043099: 'Labrador Retriever',
 46043149: 'Labrador Retriever'}

## 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

To resolve the question, we create two different tables, the first table is compose with only observation field manual full.

In [35]:
manual_not_na=dogTravel[dogTravel['manual'].notna()]
manual_not_na

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
6,6,45287347,Wooster,OH,"Tate is an adorable 2 year old, 22 pound Cocka...",Akron,Ohio,NaN,NaN
7,7,45287347,Wooster,OH,"Tate is an adorable 2 year old, 22 pound Cocka...",Akron,Ohio,NaN,NaN
330,330,45276595,Guntersville,AL,We call this little guy Bono. He is a happy a...,Albertville,Alabama,NaN,True
...,...,...,...,...,...,...,...,...,...
6183,6183,45017651,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,West Virginia,NaN,True
6184,6184,44659739,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,West Virginia,NaN,True
6185,6185,44289536,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,West Virginia,NaN,True
6187,6187,42117845,Fairmont,WV,This is Dachshund Chihuahua Blue who weighs 7l...,WV,West Virginia,NaN,True
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN

in this table we create a new column ("correct_state") with the same values in manual (cause are the values that will be overrides in found column)

In [36]:
manual_not_na["correct_state"] = manual_not_na["manual"]
manual_not_na

/var/folders/h7/63fpfjks70z8hgf9c6f28cl00000gn/T/ipykernel_1439/2206628724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manual_not_na["correct_state"] = manual_not_na["manual"]

,index,id,contact_city,contact_state,description,found,manual,remove,still_there,correct_state
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN,Bahamas
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN,Maryland
6,6,45287347,Wooster,OH,"Tate is an adorable 2 year old, 22 pound Cocka...",Akron,Ohio,NaN,NaN,Ohio
7,7,45287347,Wooster,OH,"Tate is an adorable 2 year old, 22 pound Cocka...",Akron,Ohio,NaN,NaN,Ohio
330,330,45276595,Guntersville,AL,We call this little guy Bono. He is a happy a...,Albertville,Alabama,NaN,True,Alabama
...,...,...,...,...,...,...,...,...,...,...
6183,6183,45017651,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,West Virginia,NaN,True,West Virginia
6184,6184,44659739,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,West Virginia,NaN,True,West Virginia
6185,6185,44289536,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,West Virginia,NaN,True,West Virginia
6187,6187,42117845,Fairmont,WV,This is Dachshund Chihuahua Blue who weighs 7l...,WV,West Virginia,NaN,True,West Virginia
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN,Ohio

on second table, we subset only the observations with empty manual values

In [37]:
manual_na=dogTravel[dogTravel['manual'].isna()]
manual_na

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
5,5,43082511,Manchester,CT,Brooke has an unusual past. She was rescued f...,Afghanistan,NaN,NaN,NaN
8,8,45987719,Locust Fork,AL,Meet Trixie... she is a female 2yr. Old Chihua...,Alabama,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6188,6188,41298157,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

in this table we create a new column ("correct_state") with the same values in found (cause are the values that will be not overrides)

In [38]:
manual_na["correct_state"] = manual_na["found"]
manual_na

/var/folders/h7/63fpfjks70z8hgf9c6f28cl00000gn/T/ipykernel_1439/611043492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manual_na["correct_state"] = manual_na["found"]

,index,id,contact_city,contact_state,description,found,manual,remove,still_there,correct_state
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN,Arkansas
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN,Adaptil
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN,Afghanistan
5,5,43082511,Manchester,CT,Brooke has an unusual past. She was rescued f...,Afghanistan,NaN,NaN,NaN,Afghanistan
8,8,45987719,Locust Fork,AL,Meet Trixie... she is a female 2yr. Old Chihua...,Alabama,NaN,NaN,NaN,Alabama
...,...,...,...,...,...,...,...,...,...,...
6188,6188,41298157,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN,WV
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN,WV
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN,Wyoming
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN,Yazmin
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN,Zazu

subsequantly we recreate a new df with the concatenate of the two tables that we had created before, and we order them with index sort

In [39]:
df=pd.concat([manual_na,manual_not_na])
df=df.sort_index()
df

,index,id,contact_city,contact_state,description,found,manual,remove,still_there,correct_state
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN,Arkansas
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN,Bahamas
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN,Maryland
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN,Adaptil
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN,Afghanistan
...,...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN,WV
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN,Wyoming
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN,Yazmin
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Young,Ohio,NaN,NaN,Ohio
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN,Zazu

now we have got a column correct_state complete with the values overrides and not overrides, so we replace that values at the column found of dogTravel dataframe and we ending the point

In [40]:
dogTravel["found"]=df["correct_state"]
dogTravel

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Ohio,Ohio,NaN,NaN
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN

In the last result, we have got in found column the manual values only if they are not "NaN"

## 9. For each state, compute the ratio between the number of travels and the population.

### First Dataset Analysis

In [41]:
dogTravel.shape #number of total travell done

(6194, 9)

In [42]:
dogTravel.groupby(['contact_state']).count().shape 
#number of countries that have made trips

(45, 8)

In [43]:
nstest.shape #number of country in csv population

(51, 2)

51 states, 45 states that have made trips, total trips 6149

In [44]:
#change label
nTravelForState = dogTravel.groupby(['contact_state']).count()[['index']].reset_index().rename(columns={'contact_state':'state', 'index':'nTravel'})
nTravelForState.head()

   state  nTravel
0  17325       10
1     AL       75
2     AR       10
3     AZ       70
4     CA       28

In [45]:
nTravelForState['nTravel'].sum() #sum is correct

6194

In [46]:
nTravelForState.shape

(45, 2)

### There is an error

In [47]:
dogTravel[dogTravel['contact_state'] == '17325']

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
3237,3237,36978896,PA,17325,Maddie is our little Miss Cutie Patootie! She ...,New York,NaN,True,NaN
3238,3238,33218331,PA,17325,"Born in August 2014, Bucky has a great sense o...",New York,NaN,True,NaN
3714,3714,36978896,PA,17325,Maddie is our little Miss Cutie Patootie! She ...,Pennsylvania,NaN,True,NaN
3715,3715,33218331,PA,17325,"Born in August 2014, Bucky has a great sense o...",Pennsylvania,NaN,True,NaN
6029,6029,36978896,PA,17325,Maddie is our little Miss Cutie Patootie! She ...,Virginia,NaN,True,NaN
6030,6030,33218331,PA,17325,"Born in August 2014, Bucky has a great sense o...",Virginia,NaN,True,NaN
6074,6074,36978896,PA,17325,Maddie is our little Miss Cutie Patootie! She ...,Washington DC,NaN,True,NaN
6075,6075,33218331,PA,17325,"Born in August 2014, Bucky has a great sense o...",Washington DC,NaN,True,NaN
6133,6133,36978896,PA,17325,Maddie is our little Miss Cutie Patootie! She ...,West Virginia,NaN,True,NaN
6134,6134,33218331,PA,17325,"Born in August 2014, Bucky has a great sense o...",West Virginia,NaN,True,NaN

The number refers to state of Pensylvania. It needs to be corrected

In [48]:
nTravelForState[nTravelForState['state']=='PA']

   state  nTravel
34    PA      316

In [49]:
#take the 2 values
PAerr = nTravelForState[nTravelForState['state'] == '17325']['nTravel']
PAcorr = nTravelForState[nTravelForState['state'] == 'PA']['nTravel']

In [50]:
#delete the wrong row
nTravelForState = nTravelForState.drop(nTravelForState.index[nTravelForState['state'] == '17325']).reset_index()

In [51]:
nTravelForState.head()

   index state  nTravel
0      1    AL       75
1      2    AR       10
2      3    AZ       70
3      4    CA       28
4      5    CO      103

In [52]:
#Add the right value
nTravelForState.loc[nTravelForState['state']=='PA', 'nTravel'] = sum(PAcorr, PAerr).values
nTravelForState[nTravelForState['state'] == 'PA']

    index state  nTravel
33     34    PA      326

#### Country that have made trips become 43

### Table State and Popolation

In [53]:
nstest[1] = nstest[1].str.replace('.','')

/var/folders/h7/63fpfjks70z8hgf9c6f28cl00000gn/T/ipykernel_1439/2156957115.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  nstest[1] = nstest[1].str.replace('.','')

In [54]:
state = nstest.rename(columns = {0:'state', 1:'nPopulation'})
state.head()

        state nPopulation
0     Alabama     5024279
1      Alaska      733391
2     Arizona     7151502
3    Arkansas     3011524
4  California    39538223

#### Add state code

In [55]:
def findCountryAlpha2 (country_name):
    try:
        sub = pycountry.subdivisions.lookup(country_name)
        sample_str = sub.code
        stateCode = sub.code[-2:]
        return stateCode
    except:
        return ("not founded!")

state['state_code'] = state.apply(lambda row: findCountryAlpha2(row.state) , axis = 1)
state.head()

        state nPopulation state_code
0     Alabama     5024279         AL
1      Alaska      733391         AK
2     Arizona     7151502         AZ
3    Arkansas     3011524         AR
4  California    39538223         CA

### Still errors

#### MT

In [56]:
#Library pycountry has a code wrong for Montana state
state[state['state']=='Montana']

      state nPopulation state_code
26  Montana     1084225         12

In [57]:
state.loc[state['state']=='Montana', 'state_code'] = 'MT'
state[state['state']=='Montana']

      state nPopulation state_code
26  Montana     1084225         MT

#### MY

In [58]:
# another error in library pycountry referred to Maryland code state
state[state['state']=='Maryland']

       state nPopulation state_code
20  Maryland     6177224         MY

In [59]:
state.loc[state['state']=='Maryland', 'state_code'] = 'MD'
state[state['state']=='Maryland']

       state nPopulation state_code
20  Maryland     6177224         MD

#### CSV nstest

In [60]:
#there are some state_code NB which are the same state that NJ
nTravelForState[nTravelForState['state']=='NB']

    index state  nTravel
23     24    NB        2

In [61]:
nTravelForState[nTravelForState['state']=='NJ']

    index state  nTravel
26     27    NJ      552

In [62]:
NJerr = nTravelForState[nTravelForState['state'] == 'NB']['nTravel']
NJcorr = nTravelForState[nTravelForState['state'] == 'NJ']['nTravel']

In [63]:
#delete the wrong row
nTravelForState = nTravelForState.drop(nTravelForState.index[nTravelForState['state'] == 'NB']).reset_index()

In [64]:
#salvo il valore in NJ
nTravelForState.loc[nTravelForState['state']=='NJ', 'nTravel'] = sum(NJcorr, NJerr).values
nTravelForState[nTravelForState['state'] == 'NJ']

    level_0  index state  nTravel
25       26     27    NJ      554

#### Now the number of country that have done trips are 43

### Merging time

In [65]:
table_travel_for_state = pd.merge(state, nTravelForState, left_on='state_code', right_on='state')[['state_x', 'nPopulation', 'nTravel']]
table_travel_for_state.head()

      state_x nPopulation  nTravel
0     Alabama     5024279       75
1     Arizona     7151502       70
2    Arkansas     3011524       10
3  California    39538223       28
4    Colorado     5773714      103

In [66]:
#check if sum is correct
table_travel_for_state['nTravel'].sum()

6194

### Add ratio between the number of travels and the population

In [67]:
table_travel_for_state['nPopulation'] = table_travel_for_state['nPopulation'].apply(pd.to_numeric)

In [68]:
table_travel_for_state['ratio_Travel_Population'] = table_travel_for_state['nPopulation'] / table_travel_for_state['nTravel']
table_travel_for_state.head()

      state_x  nPopulation  nTravel  ratio_Travel_Population
0     Alabama      5024279       75             6.699039e+04
1     Arizona      7151502       70             1.021643e+05
2    Arkansas      3011524       10             3.011524e+05
3  California     39538223       28             1.412079e+06
4    Colorado      5773714      103             5.605548e+04

## 10. For each dog, compute the number of days from the posted day to the day of last access.

To solve this task the difference between the column 'posted' and the column 'accessed' will be calculated.
The information obtained will be stored in a dictionary having the dog's identification code as the key and 
the days between the posted day and the last access as value.

In [69]:
diz={}
for i in range(len(dogs)):
    diz[dogs.loc[i,'id']]= -1*(dogs.loc[i, 'posted'] - dogs.loc[i, 'accessed']).days
diz

{46042150: 0,
 46042002: 0,
 46040898: 0,
 46039877: 0,
 46039306: 0,
 46039304: 0,
 46039303: 0,
 46039302: 0,
 46039301: 0,
 46038709: 0,
 46038708: 0,
 46038703: 0,
 46038700: 0,
 46038243: 0,
 46038070: 0,
 46038064: 0,
 46038065: 0,
 46038067: 0,
 46038068: 0,
 46038060: 0,
 46038062: 0,
 46038063: 0,
 46038061: 0,
 46037951: 0,
 46037918: 0,
 46037881: 0,
 46037860: 0,
 46037820: 0,
 46037762: 0,
 46037742: 0,
 46037637: 0,
 46037534: 0,
 46036459: 1,
 46035351: 1,
 46035350: 1,
 46035353: 1,
 46035346: 1,
 46035344: 1,
 46035342: 1,
 46034532: 1,
 46033962: 1,
 46032651: 1,
 46032592: 1,
 46032594: 1,
 46032595: 1,
 46032596: 1,
 46032588: 1,
 46032587: 1,
 46032589: 1,
 46032253: 1,
 46031946: 1,
 46031507: 1,
 46031797: 1,
 46031796: 1,
 46029444: 1,
 46029446: 1,
 46028152: 1,
 46027977: 1,
 46027945: 1,
 46027921: 1,
 46027872: 1,
 46027804: 1,
 46027303: 1,
 46026629: 1,
 46026616: 1,
 46026600: 1,
 46026454: 1,
 46026507: 1,
 46026395: 1,
 46026306: 1,
 46026195: 1,
 46026170: 1,
 46025014: 2,
 46024779: 2,
 46024627: 2,
 46023420: 2,
 46021809: 2,
 46021807: 2,
 46020352: 2,
 46020343: 2,
 46020326: 2,
 46020312: 2,
 46020301: 2,
 46020258: 2,
 46020245: 2,
 46020236: 2,
 46020230: 2,
 46015991: 2,
 46015398: 2,
 46015218: 2,
 46012741: 3,
 46012739: 3,
 46012718: 3,
 46010922: 3,
 46010921: 3,
 46010919: 3,
 46010918: 3,
 46008181: 3,
 46007891: 3,
 46007288: 3,
 46005760: 3,
 46005576: 3,
 46005725: 3,
 46005633: 3,
 46005567: 3,
 46005531: 3,
 45989641: 4,
 45988823: 4,
 45988816: 4,
 45988814: 4,
 45987766: 4,
 45987322: 4,
 45985729: 4,
 45984048: 4,
 45983456: 4,
 45982562: 5,
 45982546: 5,
 45982553: 5,
 45982538: 5,
 45981407: 5,
 45981405: 5,
 45980158: 5,
 45980154: 5,
 45979793: 5,
 45979787: 5,
 45979784: 5,
 45979783: 5,
 45978432: 5,
 45975578: 6,
 45975544: 6,
 45975178: 6,
 45975175: 6,
 45973102: 6,
 45973113: 6,
 45973097: 6,
 45973088: 6,
 45973081: 6,
 45967088: 7,
 45966541: 7,
 45966538: 7,
 45966526: 7,
 45966461: 7,
 45962677: 7,
 45962675: 7,
 45961141: 7,
 45959652: 7,
 45957822: 7,
 45956950: 7,
 45956409: 8,
 45956384: 8,
 45955609: 8,
 45955503: 8,
 45955392: 8,
 45955309: 8,
 45955292: 8,
 45948995: 8,
 45948988: 8,
 45948983: 8,
 45948074: 8,
 45948073: 8,
 45946828: 8,
 45946783: 8,
 45945669: 8,
 45945618: 8,
 45945609: 8,
 45945344: 9,
 45945119: 9,
 45945109: 9,
 45944294: 9,
 45944275: 9,
 45943335: 9,
 45942310: 9,
 45935433: 9,
 45935416: 9,
 45935404: 9,
 45931876: 10,
 45929513: 10,
 45929506: 10,
 45924406: 10,
 45924352: 10,
 45924259: 10,
 45924189: 10,
 45924145: 10,
 45923620: 10,
 45923614: 10,
 45923611: 10,
 45923603: 10,
 45923600: 10,
 45923317: 10,
 45922564: 10,
 45919405: 11,
 45917309: 11,
 45917305: 11,
 45917298: 11,
 45911260: 11,
 45911262: 11,
 45910994: 11,
 45910880: 11,
 45910871: 11,
 45910854: 11,
 45909761: 12,
 45909739: 12,
 45909727: 12,
 45909676: 12,
 45909613: 12,
 45909537: 12,
 45909432: 12,
 45909359: 12,
 45909239: 12,
 45909021: 12,
 45909014: 12,
 45909000: 12,
 45908992: 12,
 45908932: 12,
 45908759: 12,
 45908725: 12,
 45908485: 12,
 45903125: 12,
 45901985: 13,
 45901986: 13,
 45901989: 13,
 45901991: 13,
 45901992: 13,
 45901994: 13,
 45901995: 13,
 45901996: 13,
 45901993: 13,
 45901987: 13,
 45901468: 13,
 45899886: 13,
 45899881: 13,
 45894467: 13,
 45894420: 13,
 45894011: 13,
 45893703: 13,
 45892818: 14,
 45892807: 14,
 45892791: 14,
 45892773: 14,
 45892741: 14,
 45892721: 14,
 45892436: 14,
 45892461: 14,
 45892251: 14,
 45892260: 14,
 45888002: 14,
 45887879: 14,
 45887106: 14,
 45881556: 14,
 45877791: 15,
 45871975: 15,
 45869315: 15,
 45869301: 15,
 45866890: 16,
 45866703: 16,
 45862018: 16,
 45862011: 16,
 45855897: 16,
 45855747: 16,
 45852639: 17,
 45848450: 17,
 45844125: 17,
 45841113: 18,
 45841108: 18,
 45841101: 18,
 45841088: 18,
 45841086: 18,
 45837065: 19,
 45837033: 19,
 45834738: 19,
 45834577: 19,
 45833041: 19,
 45831833: 19,
 45831517: 19,
 45828975: 20,
 45828232: 20,
 45828120: 20,
 45821788: 20,
 45821826: 20,
 45821772: 20,
 45807576: 20,
 45807578: 20,
 45807581: 20,
 45807582: 20,
 45807583: 20,
 45807584: 20,
 45807585: 20,
 45807587: 20,
 45807586: 20,
 45807573: 20,
 45797757: 21,
 45797240: 21,
 45797231: 21,
 45791070: 21,
 45790688: 21,
 45790601: 21,
 45790237: 21,
 45778237: 22,
 45772624: 23,
 45770150: 23,
 45767602: 23,
 45767058: 23,
 45767029: 23,
 45767023: 23,
 45766722: 23,
 45766515: 23,
 45766651: 23,
 45760101: 24,
 45759936: 24,
 45755163: 24,
 45755148: 24,
 45755134: 24,
 45754572: 24,
 45751169: 25,
 45748689: 25,
 45748573: 25,
 45748545: 25,
 45748504: 25,
 45745473: 25,
 45745442: 25,
 45745137: 25,
 45745132: 25,
 45745122: 25,
 45745098: 25,
 45745093: 25,
 45745087: 25,
 45745084: 25,
 45745080: 25,
 45745065: 25,
 45744166: 26,
 45733265: 27,
 45733259: 27,
 45728306: 27,
 45727282: 28,
 45715803: 29,
 45710620: 29,
 45709771: 29,
 45705794: 29,
 45705778: 29,
 45700294: 30,
 45700110: 30,
 45692092: 30,
 45692052: 30,
 45691956: 30,
 45691692: 30,
 45674734: 32,
 45667997: 32,
 45666953: 33,
 45666935: 33,
 45650124: 34,
 45648835: 34,
 45633217: 35,
 45633206: 35,
 45621645: 36,
 45621638: 36,
 45621634: 36,
 45613458: 37,
 45612989: 37,
 45612968: 37,
 45612886: 37,
 45604798: 37,
 45600601: 38,
 45593879: 38,
 45590258: 39,
 45588556: 39,
 45587734: 39,
 45586771: 39,
 45583244: 39,
 45578885: 40,
 45573151: 40,
 45572525: 41,
 45565250: 42,
 45565182: 42,
 45564932: 42,
 45558264: 42,
 45551876: 43,
 45523763: 45,
 45523751: 45,
 45513605: 45,
 45513431: 45,
 45510523: 46,
 45501366: 47,
 45501300: 47,
 45501044: 47,
 45501001: 47,
 45491125: 48,
 45490978: 48,
 45467177: 50,
 45466439: 50,
 45463621: 50,
 45463513: 50,
 45463397: 50,
 45452748: 51,
 45424358: 51,
 45439257: 51,
 45439150: 51,
 45439151: 51,
 45439218: 51,
 45439103: 51,
 45439090: 51,
 45439110: 51,
 45421273: 51,
 45414725: 51,
 45414266: 52,
 45406676: 53,
 45406605: 53,
 45397802: 54,
 45388959: 54,
 45388946: 54,
 45388932: 54,
 45384405: 55,
 45371852: 56,
 45362628: 57,
 45352291: 58,
 45351740: 58,
 45350829: 58,
 45343048: 59,
 45341174: 59,
 45340265: 59,
 45340256: 59,
 45336684: 60,
 45336528: 60,
 45327133: 61,
 45322690: 61,
 45311039: 62,
 45309135: 63,
 45297354: 63,
 45296354: 64,
 45289127: 64,
 45287483: 64,
 45278243: 65,
 45277653: 65,
 45272327: 66,
 45272220: 66,
 45263455: 67,
 45261668: 68,
 45261567: 68,
 45239758: 70,
 45230264: 70,
 45228475: 71,
 45228373: 71,
 45221744: 71,
 45210808: 72,
 45201878: 74,
 45183942: 76,
 45183920: 76,
 45176293: 76,
 45175750: 77,
 45170501: 77,
 45169148: 78,
 45153915: 79,
 45147970: 80,
 45143789: 80,
 45143722: 80,
 45124189: 83,
 45119219: 83,
 45106152: 84,
 45087942: 86,
 45087306: 86,
 45087241: 86,
 45086913: 86,
 45077588: 87,
 45065593: 89,
 45008008: 95,
 44962783: 99,
 44962776: 99,
 44962456: 99,
 44952844: 100,
 44927832: 102,
 44909817: 104,
 44899468: 105,
 44880786: 107,
 44880553: 107,
 44868296: 109,
 44863119: 109,
 44854314: 111,
 44852701: 111,
 44846707: 111,
 44846639: 111,
 44844744: 112,
 44844576: 112,
 44844513: 112,
 44844209: 112,
 44844169: 112,
 44844151: 112,
 44844060: 112,
 44844042: 112,
 44837688: 112,
 44837041: 113,
 44810061: 116,
 44809157: 116,
 44809155: 116,
 44809150: 116,
 44803694: 117,
 44801851: 117,
 44771531: 120,
 44755411: 122,
 44739138: 123,
 44731850: 124,
 44714242: 126,
 44713840: 126,
 44712916: 127,
 44712896: 127,
 44712583: 127,
 44702167: 128,
 44702151: 128,
 44695366: 128,
 44685605: 130,
 44618549: 138,
 44609112: 139,
 44577953: 143,
 44573885: 144,
 44573876: 144,
 44562239: 145,
 44531795: 149,
 44531662: 149,
 44531185: 150,
 44514846: 152,
 44514715: 152,
 44495870: 155,
 44493997: 155,
 44487776: 155,
 44487767: 155,
 44487671: 155,
 44487210: 155,
 44486942: 156,
 44478362: 156,
 44478096: 157,
 44477567: 157,
 44477699: 157,
 44470772: 157,
 44470769: 157,
 44470760: 157,
 44458918: 159,
 44452331: 160,
 44442765: 161,
 44403181: 167,
 44369330: 171,
 44340754: 175,
 44325782: 177,
 44289051: 182,
 44255203: 186,
 44232057: 189,
 44200288: 194,
 44186033: 196,
 44180767: 196,
 44161617: 198,
 44148405: 200,
 44148385: 200,
 44148335: 200,
 44148321: 200,
 44148298: 200,
 44140702: 201,
 44119010: 204,
 44118994: 204,
 44118969: 204,
 44118962: 204,
 44118935: 204,
 44114794: 205,
 44114733: 205,
 44111114: 205,
 44106910: 206,
 44087563: 208,
 44070750: 210,
 44070635: 210,
 44070486: 210,
 44065965: 211,
 44065273: 211,
 44022637: 217,
 43986905: 221,
 43986869: 221,
 43965291: 224,
 43965236: 224,
 43917155: 230,
 43901251: 232,
 43875746: 236,
 43865125: 237,
 43821123: 243,
 43821091: 243,
 43772951: 249,
 43766428: 250,
 43694707: 258,
 43694705: 258,
 43694702: 258,
 43682686: 260,
 43663794: 263,
 43663762: 263,
 43663743: 263,
 43663728: 263,
 43663713: 263,
 43663692: 263,
 43663610: 263,
 43663589: 263,
 43663552: 263,
 43615306: 271,
 43545868: 280,
 43529130: 281,
 43522315: 282,
 43513820: 282,
 43398482: 296,
 43391057: 297,
 43385226: 298,
 43384345: 298,
 43368770: 300,
 43368363: 301,
 43357850: 302,
 43318603: 307,
 43296279: 309,
 43283220: 311,
 43270596: 312,
 43264663: 314,
 43188046: 321,
 43175667: 323,
 43113459: 330,
 43033099: 338,
 42914497: 352,
 42914272: 352,
 42899655: 354,
 42775362: 369,
 42774946: 369,
 42758223: 371,
 42674432: 380,
 42634250: 384,
 42625430: 385,
 42589570: 388,
 42589559: 388,
 42589524: 388,
 42589496: 388,
 42589455: 388,
 42565420: 392,
 42359976: 414,
 42340762: 416,
 42322513: 418,
 42289296: 422,
 42006865: 451,
 42000419: 453,
 41965530: 456,
 41902940: 463,
 41829762: 470,
 41824151: 471,
 41648732: 492,
 41648708: 492,
 41623960: 495,
 41531332: 506,
 41330726: 533,
 41227791: 548,
 41215195: 550,
 41197723: 552,
 40883171: 590,
 40784475: 601,
 40734432: 607,
 40688674: 612,
 40688659: 612,
 40688285: 612,
 40688005: 612,
 40687807: 612,
 40680817: 612,
 40680663: 612,
 40647344: 616,
 40587956: 623,
 40119602: 651,
 39817512: 686,
 39667455: 703,
 39583342: 714,
 39391562: 734,
 39191423: 758,
 38957757: 779,
 38806687: 793,
 38663127: 808,
 38659033: 808,
 38370721: 833,
 38077212: 857,
 37716186: 908,
 37686939: 912,
 37399145: 951,
 36765299: 1036,
 36765151: 1036,
 36763186: 1037,
 36763047: 1037,
 36761845: 1037,
 36761472: 1037,
 35866006: 1142,
 35816586: 1147,
 35433591: 1187,
 35395589: 1192,
 35395555: 1192,
 35298717: 1202,
 35274801: 1205,
 35103390: 1226,
 35031169: 1235,
 35011875: 1237,
 34908896: 1252,
 34649353: 1289,
 34524348: 1306,
 34052037: 1373,
 33780768: 1407,
 33780130: 1407,
 33588343: 1429,
 33425453: 1449,
 33233127: 1472,
 31317125: 1701,
 31299282: 1703,
 30649417: 1790,
 29558076: 1915,
 29522362: 1920,
 28973123: 1988,
 28741668: 2018,
 28644289: 2030,
 28471870: 2053,
 27972742: 2121,
 27572017: 2167,
 27521345: 2171,
 27477291: 2176,
 26737824: 2253,
 26737234: 2253,
 26558887: 2271,
 26363353: 2292,
 26333998: 2296,
 25630658: 2379,
 25611106: 2381,
 24296969: 2543,
 22714514: 2717,
 22316296: 2766,
 21371991: 2872,
 20538958: 2964,
 20346632: 2982,
 18399413: 3171,
 17502458: 3283,
 15953397: 3478,
 15099386: 3598,
 15099393: 3598,
 14944514: 3618,
 14889388: 3626,
 14838677: 3633,
 13558111: 3802,
 13326032: 3833,
 13085754: 3865,
 11037014: 4123,
 10446173: 4207,
 10354086: 4222,
 10226253: 4242,
 10076688: 4265,
 9302167: 4379,
 8894500: 4441,
 8327275: 4528,
 8278699: 4535,
 5859583: 4957,
 45439084: 51,
 46041946: 0,
 46041865: 0,
 46041789: 0,
 46034820: 1,
 46012157: 3,
 46006746: 3,
 46006745: 3,
 45990766: 4,
 45990451: 4,
 45990442: 4,
 45990433: 4,
 45990402: 4,
 45990358: 4,
 45990255: 4,
 45990237: 4,
 45984686: 4,
 45984684: 4,
 45984683: 4,
 45984673: 4,
 45984678: 4,
 45984680: 4,
 45984679: 4,
 45984676: 4,
 45984672: 4,
 45984674: 4,
 45984675: 4,
 45984668: 4,
 45984670: 4,
 45984667: 4,
 45984671: 4,
 45984666: 4,
 45984631: 4,
 45984665: 4,
 45984632: 4,
 45984664: 4,
 45964100: 7,
 45960022: 7,
 45950894: 8,
 45950400: 8,
 45950395: 8,
 45950354: 8,
 45947810: 8,
 45947804: 8,
 45947802: 8,
 45932986: 10,
 45908139: 12,
 45904804: 12,
 45904795: 12,
 45904791: 12,
 45898997: 13,
 45878760: 15,
 45878449: 15,
 45870425: 15,
 45870424: 15,
 45870404: 15,
 45838677: 18,
 45838669: 18,
 45838672: 18,
 45838666: 18,
 45838667: 18,
 45838665: 18,
 45838663: 18,
 45838661: 18,
 45833173: 19,
 45767989: 23,
 45762322: 24,
 45745657: 25,
 45745654: 25,
 45745648: 25,
 45745651: 25,
 45745645: 25,
 45745650: 25,
 45745641: 25,
 45745640: 25,
 45734919: 27,
 45734903: 27,
 45734856: 27,
 45734307: 27,
 45706365: 29,
 45706364: 29,
 45679389: 31,
 45679390: 31,
 45679387: 31,
 45668765: 32,
 45660971: 33,
 45635339: 35,
 45607537: 37,
 45594782: 38,
 45581340: 39,
 45556130: 42,
 45526635: 44,
 45503775: 46,
 45458254: 50,
 45458252: 50,
 45458210: 50,
 45455901: 50,
 45454552: 51,
 45293257: 64,
 45293252: 64,
 45219130: 72,
 45167807: 78,
 45148877: 80,
 45124528: 83,
 45117836: 83,
 45097430: 85,
 45084194: 86,
 45084192: 86,
 45069293: 88,
 45048052: 91,
 45048049: 91,
 45015480: 94,
 45007357: 95,
 45002788: 95,
 44968891: 99,
 44903879: 105,
 44903875: 105,
 44903874: 105,
 44903876: 105,
 44903872: 105,
 44811887: 116,
 44777998: 120,
 44760626: 121,
 44753037: 122,
 44753036: 122,
 44753023: 122,
 44753004: 122,
 44752955: 122,
 44752946: 122,
 44752888: 122,
 44752960: 122,
 44752945: 122,
 44752838: 122,
 44752862: 122,
 44752850: 122,
 44752843: 122,
 44752849: 122,
 44752881: 122,
 44752799: 122,
 44752844: 122,
 44752871: 122,
 44752789: 122,
 44752832: 122,
 44752848: 122,
 44752885: 122,
 44752828: 122,
 44752839: 122,
 44752846: 122,
 44752870: 122,
 44752748: 122,
 44752788: 122,
 44752787: 122,
 44752747: 122,
 44752784: 122,
 44752773: 122,
 44752781: 122,
 44752711: 122,
 44752745: 122,
 44752742: 122,
 44752726: 122,
 44752738: 122,
 44752731: 122,
 44752716: 122,
 44752722: 122,
 44752725: 122,
 44752730: 122,
 44752710: 122,
 44752705: 122,
 44752740: 122,
 44752617: 122,
 44752633: 122,
 44752675: 122,
 44752596: 122,
 44752668: 122,
 44752631: 122,
 44752594: 122,
 44752665: 122,
 44752626: 122,
 44752645: 122,
 44752627: 122,
 44752630: 122,
 44752597: 122,
 44752598: 122,
 44752601: 122,
 44752619: 122,
 44752664: 122,
 44752616: 122,
 44752580: 122,
 44752531: 122,
 44752586: 122,
 44752520: 122,
 44752529: 122,
 44752585: 122,
 44752519: 122,
 44752544: 122,
 44752538: 122,
 44752522: 122,
 44752505: 122,
 44752499: 122,
 44752491: 122,
 44752507: 122,
 44752488: 122,
 44752475: 122,
 44752400: 122,
 44752463: 122,
 44752476: 122,
 44752477: 122,
 44752434: 122,
 44752417: 122,
 44752430: 122,
 44752447: 122,
 44752437: 122,
 44752398: 122,
 44752420: 122,
 44752466: 122,
 44752486: 122,
 44752462: 122,
 44752389: 122,
 44752334: 122,
 44752364: 122,
 44752385: 122,
 44752362: 122,
 44752343: 122,
 44752371: 122,
 44752340: 122,
 44752316: 122,
 44752335: 122,
 44752373: 122,
 44752324: 122,
 44752363: 122,
 44752296: 122,
 44752313: 122,
 44752322: 122,
 44752359: 122,
 44752380: 122,
 44752361: 122,
 44752277: 122,
 44752278: 122,
 44752191: 122,
 44752210: 122,
 44752263: 122,
 44752235: 122,
 44752243: 122,
 44752203: 122,
 44752214: 122,
 44752217: 122,
 44752260: 122,
 44752196: 122,
 44752213: 122,
 44752249: 122,
 44752255: 122,
 44752230: 122,
 44752252: 122,
 ...}

## 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

We create a new column "weeks" and we add them on the dogs table, we will increase them later

In [70]:
dogs["week"]=0 
dogs["week"]

0        0
1        0
2        0
3        0
4        0
        ..
58175    0
58176    0
58177    0
58178    0
58179    0
Name: week, Length: 58180, dtype: int64

on this part we compute the weeks like difference between accessed date and posted date;  after we divide the result for seven (cause evry week is composed by seven days)

In [71]:
i=0
for i in range(len(dogs)):
    dogs.loc[i,'week']= ((dogs.loc[i, 'accessed'] - dogs.loc[i, 'posted']).days)/7
    i=i+1
dogs["week"]=round(dogs["week"],0)
dogs["week"]

0        -0.0
1        -0.0
2        -0.0
3        -0.0
4        -0.0
         ...
58175    20.0
58176    23.0
58177    51.0
58178    53.0
58179    54.0
Name: week, Length: 58180, dtype: float64

in the end we partition the dogs according to the number of weeks thank to group by method

In [72]:
dogs.groupby("week").count()['id']

week
-0.0      7988
 1.0      7053
 2.0      4789
 3.0      4950
 4.0      2649
          ...
 730.0       1
 747.0       1
 812.0       1
 813.0       1
 853.0       1
Name: id, Length: 580, dtype: int64

## 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

### 1) for version

In [73]:
# 1) build a table with only interesting column
duplicate_table = dogs.iloc[:, [0,13,5,34]]
duplicate_table

,id,sex,breed_primary,description
0,46042150,Male,American Staffordshire Terrier,Harley is not sure how he wound up at shelter ...
1,46042002,Male,Pit Bull Terrier,6 year old Biggie has lost his home and really...
2,46040898,Male,Shepherd,Approx 2 years old.\n Did I catch your eye? I ...
3,46039877,Female,German Shepherd Dog,NaN
4,46039306,Male,Dachshund,Theo is a friendly dachshund mix who gets alon...
...,...,...,...,...
58175,44605893,Male,Border Collie,"Due to the small size of our volunteer base, w..."
58176,44457061,Female,Australian Shepherd,NaN
58177,42865848,Female,Border Collie,"Due to the small size of our volunteer base, w..."
58178,42734734,Male,Boxer,NaN
58179,42663515,Male,Labrador Retriever,NaN

In [74]:
#Delete all row with NaN value as despription 
duplicate_table = duplicate_table[duplicate_table['description'].notna()]

In [75]:
duplicate_female = duplicate_table[duplicate_table['sex'] == 'Female']
duplicate_male = duplicate_table[duplicate_table['sex'] == 'Male']

In [76]:
#reorder row for breed-primary
duplicate_female = duplicate_female.sort_values(by = 'breed_primary').reset_index()
duplicate_male = duplicate_male.sort_values(by = 'breed_primary').reset_index()

In [77]:
def scannerDuplicate(tab):
    duplicate = {}
    for i in range(len(tab)): #all the external row
        breed1 = tab.iloc[i]['breed_primary']
        desc1 = tab.iloc[i]['description']
        identi1 = tab.iloc[i]['id']

        for j in range(i+1,len(tab)): #all the row inside breed selected
            breed2 = tab.iloc[j]['breed_primary']
            desc2 = tab.iloc[j]['description']
            identi2 = tab.iloc[j]['id']

            if breed1 == breed2: #if equals -> compare
                if SequenceMatcher(None, desc1, desc2).ratio() >= 0.9:
                    duplicate[identi1]= 'duplicate'
                    duplicate[identi2]= 'duplicate'
            else: #different breed, break j and go on with i
                break
            
            
    return duplicate

In [78]:
prova_female = duplicate_female.iloc[0:300]
scannerDuplicate(prova_female)

{45970614: 'duplicate',
 45871731: 'duplicate',
 46023964: 'duplicate',
 46023963: 'duplicate',
 42087185: 'duplicate',
 43170920: 'duplicate',
 45986905: 'duplicate',
 45986935: 'duplicate',
 44518435: 'duplicate',
 44517341: 'duplicate',
 44130324: 'duplicate',
 45932298: 'duplicate',
 45931729: 'duplicate',
 46028451: 'duplicate',
 46028452: 'duplicate',
 46028453: 'duplicate',
 45560548: 'duplicate',
 45570899: 'duplicate',
 45949697: 'duplicate',
 46021044: 'duplicate',
 45252099: 'duplicate',
 45255573: 'duplicate',
 45872595: 'duplicate',
 45897563: 'duplicate',
 45897570: 'duplicate'}

### 2) Text Mining version

In [79]:
df1=dogs
df1 = df1.dropna(subset=['breed_secondary'])
df1 = df1.dropna(subset=['description'])
df1.index = df1.reset_index(drop=True).index 

#importazione librerie utili 
import nltk
import re
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
simili=[]
coppia=[]

#ordino il dataset in ordine alfabetico per la variabile breed_primary 
df1.sort_values('breed_primary')
#memorizzo i possibili valori della varibile breed_primary in una lista
l=set(df1.loc[:, 'breed_primary'])

for el in l:
            corpus=[]
            #creo dei sotto dataset formati solo da osservazioni con lo stesso valore di breed_primary 
            subset=df1[df1['breed_primary']==el]
            #inserisco l'indice da 0 a len(n) nel nuovo sotto dataset
            subset.index = subset.reset_index(drop=True).index 
            if (len(subset)!=0):
                for idx in subset.index:
                    #elimina doppioni
                    title = re.sub('[^a-zA-Z]', ' ', subset.loc[idx, 'description'])
                    #trasforma tutto il minuscolo 
                    title = title.lower()
                    #tokenizzazione 
                    title = title.split()

                    #title = [ps.stem(word) for word in title if not word in stopwords.words('english')]
                    title = ' '.join(title)
                    corpus.append(title)
                    #Stopwords Removal
                    vect = TfidfVectorizer(min_df=1, stop_words="english")   
                    #Feature weighting
                    tfidf = vect.fit_transform(corpus)                                                                                                                                                                                                                       
                    pairwise_similarity = tfidf * tfidf.T
                    finale=[]
                    #Matrix of similarity to list (become a list of lists)
                    l=pairwise_similarity.A.tolist()
                for lista in l:
                    for el in lista:
                        # sometimes 1 become 0.99
                        if 0.90<=el<0.99:
                            tupla=(l.index(lista), lista.index(el))
                            finale.append(tupla)
                for tuple in finale:
                    for i in range(len(tuple)):
                        if (subset.loc[tuple[0], 'breed_secondary']==subset.loc[tuple[1], 'breed_secondary'] and subset.loc[tuple[0], 'sex']==subset.loc[tuple[1], 'sex']):
                                t=(subset.loc[tuple[0], 'id'], subset.loc[tuple[1], 'id'])
                                #use the id since the index is different between the matrix and the dataset df1
                                simili.append(t)
print(simili)

[(46040486, 46040487), (46040486, 46040487), (46040487, 46040486), (46040487, 46040486), (45300758, 45300755), (45300758, 45300755), (45300755, 45300758), (45300755, 45300758), (45182452, 45175036), (45182452, 45175036), (45182452, 45175036), (45182452, 45175036), (45182449, 45174934), (45182449, 45174934), (45182449, 45174934), (45182449, 45174934), (45947304, 45947300), (45947304, 45947300), (45947300, 45947304), (45947300, 45947304), (44174656, 44174649), (44174656, 44174649), (44174649, 44174656), (44174649, 44174656), (46004914, 46004225), (46004914, 46004225), (46004225, 46004914), (46004225, 46004914), (45831312, 45831443), (45831312, 45831443), (45831443, 45831312), (45831443, 45831312), (45795183, 45795175), (45795183, 45795175), (45569788, 45569541), (45569788, 45569541), (45569541, 45569788), (45569541, 45569788), (45521864, 45521701), (45521864, 45521701), (45521701, 45521864), (45521701, 45521864), (45175036, 45182452), (45175036, 45182452), (45174934, 45182449), (45174934, 45182449), (45795175, 45795183), (45795175, 45795183), (45175036, 45182452), (45175036, 45182452), (45174934, 45182449), (45174934, 45182449), (45818577, 45818583), (45818577, 45818583), (45818583, 45818577), (45818583, 45818577), (46013592, 46013532), (46013592, 46013532), (46013532, 46013592), (46013532, 46013592), (45853199, 45853195), (45853199, 45853195), (45853195, 45853199), (45853195, 45853199), (45960448, 45960429), (45960448, 45960429), (45960429, 45960448), (45960429, 45960448), (45879217, 45878341), (45879217, 45878341), (45878341, 45879217), (45878341, 45879217), (45687691, 45687689), (45687691, 45687689), (45687689, 45687691), (45687689, 45687691), (45788362, 45788237), (45788362, 45788237), (45788362, 45788153), (45788362, 45788153), (45788362, 45788139), (45788362, 45788139), (45788362, 45788054), (45788362, 45788054), (45788362, 45788153), (45788362, 45788153), (45788362, 45788153), (45788362, 45788153), (45788237, 45788362), (45788237, 45788362), (45788237, 45788362), (45788237, 45788362), (45788237, 45788139), (45788237, 45788139), (45788237, 45788054), (45788237, 45788054), (45788237, 45788362), (45788237, 45788362), (45788237, 45788362), (45788237, 45788362), (45788153, 45788362), (45788153, 45788362), (45788153, 45788237), (45788153, 45788237), (45788153, 45788139), (45788153, 45788139), (45788153, 45788054), (45788153, 45788054), (45788153, 45788362), (45788153, 45788362), (45788153, 45788362), (45788153, 45788362), (45788139, 45788362), (45788139, 45788362), (45788139, 45788237), (45788139, 45788237), (45788139, 45788362), (45788139, 45788362), (45788139, 45788054), (45788139, 45788054), (45788139, 45788362), (45788139, 45788362), (45788139, 45788362), (45788139, 45788362), (45788054, 45788362), (45788054, 45788362), (45788054, 45788237), (45788054, 45788237), (45788054, 45788362), (45788054, 45788362), (45788054, 45788139), (45788054, 45788139), (45788054, 45788362), (45788054, 45788362), (45788054, 45788362), (45788054, 45788362), (45778941, 45788362), (45778941, 45788362), (45778941, 45788237), (45778941, 45788237), (45778941, 45788362), (45778941, 45788362), (45778941, 45788139), (45778941, 45788139), (45778941, 45788054), (45778941, 45788054), (45778941, 45788362), (45778941, 45788362), (45778819, 45788216), (45778819, 45788216), (46039173, 46039171), (46039173, 46039171), (46039171, 46039173), (46039171, 46039173), (45747619, 45191670), (45747619, 45191670), (45191670, 45747619), (45191670, 45747619), (45885507, 45885505), (45885507, 45885505), (45885505, 45885507), (45885505, 45885507), (44951332, 44951304), (44951332, 44951304), (44951304, 44951332), (44951304, 44951332), (44404139, 44404138), (44404139, 44404138), (44404138, 44404139), (44404138, 44404139), (46037440, 46037706), (46037440, 46037706), (45958024, 45957955), (45958024, 45957955), (45957955, 45958024), (45957955, 45958024), (45886371, 45886232), (45886371, 45886232), (45886371, 45886201), (45886371, 45886201), (45912769, 45912768), (45912769, 45912768), (45912769, 45912768), (45912769, 45912768), (45912769, 45912768), (45912769, 45912768), (45912762, 45912768), (45912762, 45912768), (45912762, 45912768), (45912762, 45912768), (45912762, 45912768), (45912762, 45912768), (45886232, 45886371), (45886232, 45886371), (45886232, 45886201), (45886232, 45886201), (45886201, 45886371), (45886201, 45886371), (45886201, 45886232), (45886201, 45886232), (45923608, 45923602), (45923608, 45923602), (45923602, 45923608), (45923602, 45923608), (45854559, 45854557), (45854559, 45854557), (45854557, 45854559), (45854557, 45854559), (45964167, 43684033), (45964167, 43684033), (45964140, 45964112), (45964140, 45964112), (45964140, 45964112), (45964140, 45964112), (45964112, 45964140), (45964112, 45964140), (45964112, 45964140), (45964112, 45964140), (45964099, 45964140), (45964099, 45964140), (45964099, 45964140), (45964099, 45964140), (43684033, 45964167), (43684033, 45964167), (45945959, 45842981), (45945959, 45842981), (45904049, 45904035), (45904049, 45904035), (45904049, 45904001), (45904049, 45904001), (45904035, 45904049), (45904035, 45904049), (45904035, 45904001), (45904035, 45904001), (45904001, 45904049), (45904001, 45904049), (45904001, 45904035), (45904001, 45904035), (45842981, 45945959), (45842981, 45945959), (38278646, 38278652), (38278646, 38278652), (38278652, 38278646), (38278652, 38278646), (45582703, 45582673), (45582703, 45582673), (45582673, 45582703), (45582673, 45582703), (44759410, 44759409), (44759410, 44759409), (44759409, 44759410), (44759409, 44759410), (45904434, 45904418), (45904434, 45904418), (45904434, 45904418), (45904434, 45904418), (45904418, 45904434), (45904418, 45904434), (45904418, 45904434), (45904418, 45904434), (45579896, 45579897), (45579896, 45579897), (45579897, 45579896), (45579897, 45579896), (43282358, 41674455), (43282358, 41674455), (41674455, 43282358), (41674455, 43282358), (45887971, 45887961), (45887971, 45887961), (45887971, 45887961), (45887971, 45887961), (45887961, 45887971), (45887961, 45887971), (45887961, 45887950), (45887961, 45887950), (45887950, 45887971), (45887950, 45887971), (45887950, 45887961), (45887950, 45887961), (45875850, 45634379), (45875850, 45634379), (45875850, 45634379), (45875850, 45634379), (45634379, 45875850), (45634379, 45875850), (45634379, 45875850), (45634379, 45875850), (45800965, 45800872), (45800965, 45800872), (45800965, 45800872), (45800965, 45800872), (45800872, 45800965), (45800872, 45800965), (45800872, 45800965), (45800872, 45800965), (45578504, 45578440), (45578504, 45578440), (45578504, 45578440), (45578504, 45578440), (45964055, 45964047), (45964055, 45964047), (45964047, 45964055), (45964047, 45964055), (45980961, 45987736), (45980961, 45987736), (45578440, 45578504), (45578440, 45578504), (45987736, 45980961), (45987736, 45980961), (45578440, 45578504), (45578440, 45578504), (45855325, 45721873), (45855325, 45721873), (45855325, 45721873), (45855325, 45721873), (45721873, 45855325), (45721873, 45855325), (45721873, 45855325), (45721873, 45855325), (45747246, 45747223), (45747246, 45747223), (45747246, 45747223), (45747246, 45747223), (45747246, 45711016), (45747246, 45711016), (45747246, 45709123), (45747246, 45709123), (45747246, 45747223), (45747246, 45747223), (45747246, 45709123), (45747246, 45709123), (45747223, 45747246), (45747223, 45747246), (45747223, 45747200), (45747223, 45747200), (45747223, 45711016), (45747223, 45711016), (45747223, 45709123), (45747223, 45709123), (45747223, 45747200), (45747223, 45747200), (45747223, 45709123), (45747223, 45709123), (45747200, 45747246), (45747200, 45747246), (45747200, 45747223), (45747200, 45747223), (45747200, 45711016), (45747200, 45711016), (45747200, 45709123), (45747200, 45709123), (45747200, 45747223), (45747200, 45747223), (45747200, 45709123), (45747200, 45709123), (45711016, 45747246), (45711016, 45747246), (45711016, 45747223), (45711016, 45747223), (45711016, 45747223), (45711016, 45747223), (45711016, 45709123), (45711016, 45709123), (45711016, 45747223), (45711016, 45747223), (45711016, 45709123), (45711016, 45709123), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45711016), (45709123, 45711016), (45709123, 45747246), (45709123, 45747246), (45708837, 45747246), (45708837, 45747246), (45708837, 45747223), (45708837, 45747223), (45708837, 45747223), (45708837, 45747223), (45708837, 45711016), (45708837, 45711016), (45708837, 45709123), (45708837, 45709123), (45708837, 45709123), (45708837, 45709123), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45747246), (45709123, 45711016), (45709123, 45711016), (45709123, 45747246), (45709123, 45747246), (45938590, 45938589), (45938590, 45938589), (45938590, 45938589), (45938590, 45938589), (45938589, 45938590), (45938589, 45938590), (45938589, 45938590), (45938589, 45938590), (45938574, 45938590), (45938574, 45938590), (45938574, 45938590), (45938574, 45938590), (45938580, 45938581), (45938580, 45938581), (45938581, 45938580), (45938581, 45938580), (45856708, 45856692), (45856708, 45856692), (45856708, 45856692), (45856708, 45856692), (45856692, 45856708), (45856692, 45856708), (45856692, 45856530), (45856692, 45856530), (45856530, 45856708), (45856530, 45856708), (45856530, 45856692), (45856530, 45856692), (45270761, 45891118), (45270761, 45891118), (45270761, 45891118), (45270761, 45891118), (46013630, 46013602), (46013630, 46013602), (45891118, 45270761), (45891118, 45270761), (45891118, 45270761), (45891118, 45270761), (42672717, 26501282), (42672717, 26501282), (26501282, 42672717), (26501282, 42672717), (45814322, 45814385), (45814322, 45814385), (46013602, 46013630), (46013602, 46013630), (45814366, 45814385), (45814366, 45814385), (45814385, 45814322), (45814385, 45814322), (45814385, 45814366), (45814385, 45814366), (45814397, 45814385), (45814397, 45814385), (45850607, 45851317), (45850607, 45851317), (45850607, 45851317), (45850607, 45851317), (45851317, 45850607), (45851317, 45850607), (45851317, 45850607), (45851317, 45850607), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884703, 45884713), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45884713, 45884703), (45750404, 45154267), (45750404, 45154267), (45154267, 45750404), (45154267, 45750404), (44887700, 44887689), (44887700, 44887689), (44887700, 44887689), (44887700, 44887689), (44887700, 44886550), (44887700, 44886550), (44887700, 44887689), (44887700, 44887689), (44887700, 44884549), (44887700, 44884549), (44887700, 44883909), (44887700, 44883909), (44887689, 44887700), (44887689, 44887700), (44887689, 44887674), (44887689, 44887674), (44887689, 44886550), (44887689, 44886550), (44887689, 44887674), (44887689, 44887674), (44887689, 44887700), (44887689, 44887700), (44887689, 44883909), (44887689, 44883909), (44887674, 44887700), (44887674, 44887700), (44887674, 44887689), (44887674, 44887689), (44887674, 44886550), (44887674, 44886550), (44887674, 44887689), (44887674, 44887689), (44887674, 44887700), (44887674, 44887700), (44887674, 44883909), (44887674, 44883909), (44886550, 44887700), (44886550, 44887700), (44886550, 44887689), (44886550, 44887689), (44886550, 44887689), (44886550, 44887689), (44886550, 44887689), (44886550, 44887689), (44886550, 44887700), (44886550, 44887700), (44886550, 44883909), (44886550, 44883909), (44886404, 44887700), (44886404, 44887700), (44886404, 44887689), (44886404, 44887689), (44886404, 44887689), (44886404, 44887689), (44886404, 44886550), (44886404, 44886550), (44886404, 44887700), (44886404, 44887700), (44886404, 44883909), (44886404, 44883909), (44884549, 44887700), (44884549, 44887700), (44884549, 44887689), (44884549, 44887689), (44884549, 44887689), (44884549, 44887689), (44884549, 44886550), (44884549, 44886550), (44884549, 44887689), (44884549, 44887689), (44884549, 44883909), (44884549, 44883909), (44883909, 44887700), (44883909, 44887700), (44883909, 44887689), (44883909, 44887689), (44883909, 44887689), (44883909, 44887689), (44883909, 44886550), (44883909, 44886550), (44883909, 44887689), (44883909, 44887689), (44883909, 44887700), (44883909, 44887700), (45866120, 45865838), (45866120, 45865838), (45865838, 45866120), (45865838, 45866120), (45887942, 45843398), (45887942, 45843398), (45887942, 45715374), (45887942, 45715374), (45887942, 45843398), (45887942, 45843398), (45887942, 45843398), (45887942, 45843398), (45887942, 45843398), (45887942, 45843398), (45887942, 43438831), (45887942, 43438831), (45843398, 45887942), (45843398, 45887942), (45843398, 45715374), (45843398, 45715374), (45843398, 43438831), (45843398, 43438831), (45715374, 45887942), (45715374, 45887942), (45715374, 45843398), (45715374, 45843398), (45715374, 45843398), (45715374, 45843398), (45715374, 45843398), (45715374, 45843398), (45715374, 45843398), (45715374, 45843398), (45715374, 43438831), (45715374, 43438831), (45843398, 45887942), (45843398, 45887942), (45843398, 45715374), (45843398, 45715374), (45843398, 43438831), (45843398, 43438831), (45843398, 45887942), (45843398, 45887942), (45843398, 45715374), (45843398, 45715374), (45843398, 43438831), (45843398, 43438831), (45843398, 45887942), (45843398, 45887942), (45843398, 45715374), (45843398, 45715374), (45843398, 43438831), (45843398, 43438831), (43438831, 45887942), (43438831, 45887942), (43438831, 45843398), (43438831, 45843398), (43438831, 45715374), (43438831, 45715374), (43438831, 45843398), (43438831, 45843398), (43438831, 45843398), (43438831, 45843398), (43438831, 45843398), (43438831, 45843398), (45943141, 45943144), (45943141, 45943144), (45943144, 45943141), (45943144, 45943141), (45943142, 45943145), (45943142, 45943145), (45943145, 45943142), (45943145, 45943142), (45989389, 43626056), (45989389, 43626056), (43626056, 45989389), (43626056, 45989389), (46006404, 46006395), (46006404, 46006395), (46006404, 46006395), (46006404, 46006395), (46006404, 46006395), (46006404, 46006395), (46006404, 44249550), (46006404, 44249550), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006396, 46006394), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006394, 46006396), (46006395, 46006404), (46006395, 46006404), (46006395, 46006404), (46006395, 46006404), (46006395, 46006404), (46006395, 46006404), (46006395, 44249550), (46006395, 44249550), (46006387, 46006404), (46006387, 46006404), (46006387, 46006404), (46006387, 46006404), (46006387, 46006404), (46006387, 46006404), (46006387, 44249550), (46006387, 44249550), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903782, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903783, 46006396), (45903781, 46006404), (45903781, 46006404), (45903781, 46006404), (45903781, 46006404), (45903781, 46006404), (45903781, 46006404), (45903781, 44249550), (45903781, 44249550), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903780, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45903719, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (45486819, 46006396), (44249550, 46006404), (44249550, 46006404), (44249550, 46006404), (44249550, 46006404), (44249550, 46006404), (44249550, 46006404), (44249550, 46006404), (44249550, 46006404), (45895280, 45895282), (45895280, 45895282), (45895282, 45895280), (45895282, 45895280), (45930109, 45930077), (45930109, 45930077), (45930077, 45930109), (45930077, 45930109), (45930077, 45930109), (45930077, 45930109), (45930020, 45930012), (45930020, 45930012), (45930020, 45930012), (45930020, 45930012), (45930012, 45930020), (45930012, 45930020), (45930012, 45930020), (45930012, 45930020), (45929987, 45930020), (45929987, 45930020), (45929987, 45930020), (45929987, 45930020), (45978262, 45978248), (45978262, 45978248), (45978248, 45978262), (45978248, 45978262), (45836122, 45836125), (45836122, 45836125), (45836125, 45836122), (45836125, 45836122), (45777851, 45777830), (45777851, 45777830), (45777851, 45777830), (45777851, 45777830), (45777830, 45777851), (45777830, 45777851), (45777830, 45777851), (45777830, 45777851), (45777759, 45777851), (45777759, 45777851), (45777759, 45777851), (45777759, 45777851), (45980962, 45987713), (45980962, 45987713), (45987713, 45980962), (45987713, 45980962), (45639670, 45623161), (45639670, 45623161), (45623161, 45639670), (45623161, 45639670), (46005994, 46005995), (46005994, 46005995), (46005994, 46005906), (46005994, 46005906), (46005995, 46005994), (46005995, 46005994), (46005995, 46005906), (46005995, 46005906), (46005906, 46005994), (46005906, 46005994), (46005906, 46005995), (46005906, 46005995), (36763186, 36761472), (36763186, 36761472), (36763186, 36761472), (36763186, 36761472), (36761472, 36763186), (36761472, 36763186), (36761472, 36763186), (36761472, 36763186), (46014103, 46014105), (46014103, 46014105), (46014105, 46014103), (46014105, 46014103), (46014105, 46014103), (46014105, 46014103), (46014103, 46014105), (46014103, 46014105), (46014044, 46014042), (46014044, 46014042), (46014044, 46014042), (46014044, 46014042), (46014042, 46014044), (46014042, 46014044), (46014042, 46014044), (46014042, 46014044), (46034253, 46034254), (46034253, 46034254), (46034253, 46034254), (46034253, 46034254), (46034255, 46034254), (46034255, 46034254), (46034255, 46034254), (46034255, 46034254), (46034254, 46034253), (46034254, 46034253), (46034254, 46034255), (46034254, 46034255), (46034254, 46033504), (46034254, 46033504), (46034254, 46033505), (46034254, 46033505), (46033504, 46034254), (46033504, 46034254), (46033504, 46034254), (46033504, 46034254), (46033505, 46034253), (46033505, 46034253), (46033505, 46034255), (46033505, 46034255), (46033505, 46034254), (46033505, 46034254), (46033505, 46033504), (46033505, 46033504), (45853218, 45853214), (45853218, 45853214), (45853214, 45853218), (45853214, 45853218), (45670751, 45665082), (45670751, 45665082), (45665082, 45670751), (45665082, 45670751), (46030318, 46041084), (46030318, 46041084), (46041084, 46030318), (46041084, 46030318), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (45951803, 45952075), (

In [80]:
print(len(set(simili))) #without duplicate

806