# Foundations of Computer Science - progetto 2022/23

- Mattia Birti [897092] 
- Alberto Porrini [826306]
- Gloria Longo [864579]

You have to work on the Dogs adoptions dataset:
*  [Dogs](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/dogs.csv)
*  [Dog Travel](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/dogTravel.csv)
*  [NST-EST2021-POP](https://github.com/mat1218B/ProjectOfComputerScience/blob/main/adoptions/NST-EST2021-POP.csv)

### Notes

1. It is mandatory to use GitHub for developing the project.
1. The project must be a jupyter notebook.
1. There is no restriction on the libraries that can be used, nor on the Python version.
1. All questions on the project must be asked in a public channel on Zulip.
1. At most 3 students can be in each group. You must create the groups by yourself.
1. You do not have to send me the project before the discussion.s

## Libraries

In [1]:
import pandas as pd
from datetime import datetime
from difflib import SequenceMatcher

### Import data from GitHub

#### Dogs.csv

In [2]:
dogs = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/dogs.csv", sep=",", encoding='latin-1')

In [ ]:
dogs.shape

In [ ]:
dogs.head()

#### DogTravel.csv

In [ ]:
dogTravel = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/dogTravel.csv", sep=",", encoding='latin-1')

In [ ]:
dogTravel.shape

In [ ]:
dogTravel.head()

#### NST-EST.csv

In [ ]:
nstest = pd.read_csv("https://raw.githubusercontent.com/mat1218B/ProjectOfComputerScience/main/adoptions/NST-EST2021-POP.csv", header=None, sep=",", encoding='latin-1')

In [ ]:
nstest.shape

In [ ]:
nstest.head()

## 1. Extract all dogs with status that is not adoptable

Explore the dog's column names

In [ ]:
dogs.columns

Explore the first row

In [ ]:
dogs.iloc[0,:]

We can see that there are two variables (posted, accessed) that contain dates, let's check if they are in the right format

In [ ]:
type(dogs.loc[0, 'posted'])
type(dogs.loc[0, 'accessed'])

Since they are in string format, we convert them to date format

In [ ]:
#for i in range(len(dogs)):
        #dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        #dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")

We can see that there are some variables that do not contain a date, let's see which ones

In [ ]:
for i in range(len(dogs)):
    if(len(dogs.loc[i,'posted'])!=24):
        print(dogs.iloc[i,])

The problem with these rows is that they have not been split properly in cell 'name'. Let's solve the problem and transform the dates into datatime format

In [ ]:
for i in range(len(dogs)):
    if(len(dogs.loc[i,'posted'])==24):
        dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")
    else :
        j=26
        l=(dogs.iloc[i,24]).split(' ',1)
        prov=dogs.iloc[i,25]
        dogs.iloc[i,25]=l[1]
        dogs.iloc[i,24]=l[0]
        while(j<34):
            prov2=dogs.iloc[i,j]
            dogs.iloc[i,j]=prov
            prov=prov2
            j=j+1
        dogs.loc[i, 'posted']=datetime.strptime(dogs.loc[i,'posted'], "%Y-%m-%dT%H:%M:%S+0000")
        dogs.loc[i,'accessed']=datetime.strptime(dogs.loc[i,'accessed'], "%Y-%m-%d")

Now we can solve this task using a 'while' loop which scrolls through all the rows of the dataframe and stores only the identification code of the dogs that have a status other than adoptable

In [ ]:
lista=[]
i=0
while(i<len(dogs)):
    if (dogs.loc[i,'status']!='adoptable'):
        lista.append(dogs.loc[i,'id'])
    i=i+1
lista

## 2. For each (primary) breed, determine the number of dogs

In [ ]:
dogs.groupby('breed_primary').count()['id']

## 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed.

Let's see all the primary breed with a groupBy:

In [ ]:
nBreed = dogs.groupby('breed_primary').count()[['species','breed_secondary']]
nBreed

As we can see we can use "species" as total number of individues for this species.
Affenpischer are in total 17 dogs, 2 of those are mixed breed.

Rename colums

In [ ]:
nBreed = nBreed.rename( columns = {'species':'total', 'breed_secondary':'nSecondary'})
nBreed

We have to compute how many are primary breed:

In [ ]:
nBreed['nPrimary'] = nBreed['total'] - nBreed['nSecondary']
nBreed

It's time to compute the ratio between Primary and Secondary Breed.

In [ ]:
nBreed['ratioBreed'] = nBreed['nPrimary'] / nBreed['nSecondary']
nBreed

As we can see, there are many 'inf' values. It is correct because for that breed there are not any secondary breed.

## 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

We use the group by method to solve this task starting from the latest posted timestamp.

In [ ]:
df_new = dogs[dogs.groupby('breed_primary')['posted'].transform('max') == dogs['posted']]
df_new.loc[ :, ['breed_primary', 'posted']]

In [ ]:
df_new = dogs[dogs.groupby('breed_primary')['posted'].transform('min') == dogs['posted']]
df_new.loc[ :, ['breed_primary', 'posted']]

## 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

we create a table with count of male dogs for each state (contanct_state)

In [ ]:
dog_male=dogs[dogs['sex']=='Male']
dog_male=dog_male.groupby(['contact_state'])[['sex']].count()
dog_male.tail()

we recreate the same table that we have done before with female dogs for each state

In [ ]:
dog_female=dogs[dogs['sex']=='Female']
dog_female=dog_female.groupby(['contact_state'])[['sex']].count()
dog_female.tail()

we create a new table call "dog_sex" thanks to merge between male dogs and female dogs on contact_state

In [ ]:
dog_sex=pd.merge(dog_male,dog_female,on="contact_state")
dog_sex.rename( columns = {'sex_x':'tot_male','sex_y':'tot_female'})
dog_sex=dog_sex.rename( columns = {'sex_x':'tot_male','sex_y':'tot_female'})
dog_sex.tail()

we compute the imbalance like difference between male and female dogs and after we calculate the absolute value of the imbalance given that we consider only positive value of imbalance for each contact_state

In [ ]:
dog_sex["imbalance"]=dog_sex["tot_male"]-dog_sex["tot_female"]
dog_sex["imbalance"]=abs(dog_sex["imbalance"])
dog_sex.tail()

we found the state with the largest imbalance

In [ ]:
dog_sex[dog_sex["imbalance"]==dog_sex["imbalance"].max()]

In [ ]:
dog_sex["imbalance"].nlargest(1)

## 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

Explore the dog's column names

In [ ]:
dogs.columns

Compute the mean of the stay duration and stay cost for the pair AGE, SIZE;

In [ ]:
AgeSize = dogs.groupby(['age', 'size'])[['stay_duration','stay_cost']].mean()
AgeSize

## 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

Let's start grouping the dataset by the variable id

In [ ]:
count=dogTravel.groupby('id').count()

We reset the index

In [ ]:
count.reset_index(inplace=True)

Now we compute a list of only dogs that have made at least 2 trips

In [ ]:
list_index=(count[count['index']>2])['id'].tolist()

Finally we build a dictionary having as key the identification code of the dog that has made at least 2 trips, and as value its primary breed. 
To do this a for loop will be used which compares each identification code of the dog in the staring dataset with those contained in the list created above

In [ ]:
diz={}
for index in list_index:
    for i in range(len(dogs)):
        if (dogs.loc[i, 'id']==index):
            diz[dogs.loc[i, 'id']]= dogs.loc[i, 'breed_primary']
diz

## 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

To resolve the question, we create two different tables, the first table is compose with only observation field manual full.

In [ ]:
manual_not_na=dogTravel[dogTravel['manual'].notna()]
manual_not_na

in this table we create a new column ("correct_state") with the same values in manual (cause are the values that will be overrides in found column)

In [ ]:
manual_not_na["correct_state"] = manual_not_na["manual"]
manual_not_na

on second table, we subset only the observations with empty manual values

In [ ]:
manual_na=dogTravel[dogTravel['manual'].isna()]
manual_na

in this table we create a new column ("correct_state") with the same values in found (cause are the values that will be not overrides)

In [ ]:
manual_na["correct_state"] = manual_na["found"]
manual_na

subsequantly we recreate a new df with the concatenate of the two tables that we had created before, and we order them with index sort

In [ ]:
df=pd.concat([manual_na,manual_not_na])
df=df.sort_index()
df

now we have got a column correct_state complete with the values overrides and not overrides, so we replace that values at the column found of dogTravel dataframe and we ending the point

In [ ]:
dogTravel["found"]=df["correct_state"]
dogTravel

In the last result, we have got in found column the manual values only if they are not "NaN"

## 9. For each state, compute the ratio between the number of travels and the population.

In [ ]:
import pycountry #have to install it (pip install pycountry)

### First Dataset Analysis

In [ ]:
dogTravel.shape #number of total travell done

In [ ]:
dogTravel.groupby(['contact_state']).count().shape 
#number of countries that have made trips

In [ ]:
nstest.shape #number of country in csv population

51 states, 45 states that have made trips, total trips 6149

In [ ]:
#change label
nTravelForState = dogTravel.groupby(['contact_state']).count()[['index']].reset_index().rename(columns={'contact_state':'state', 'index':'nTravel'})
nTravelForState.head()

In [ ]:
nTravelForState['nTravel'].sum() #sum is correct

In [ ]:
nTravelForState.shape

### There is an error

In [ ]:
dogTravel[dogTravel['contact_state'] == '17325']

The number refers to state of Pensylvania. It needs to be corrected

In [ ]:
nTravelForState[nTravelForState['state']=='PA']

In [ ]:
#take the 2 values
PAerr = nTravelForState[nTravelForState['state'] == '17325']['nTravel']
PAcorr = nTravelForState[nTravelForState['state'] == 'PA']['nTravel']

In [ ]:
#delete the wrong row
nTravelForState = nTravelForState.drop(nTravelForState.index[nTravelForState['state'] == '17325']).reset_index()

In [ ]:
nTravelForState.head()

In [ ]:
#Add the right value
nTravelForState.loc[nTravelForState['state']=='PA', 'nTravel'] = sum(PAcorr, PAerr).values
nTravelForState[nTravelForState['state'] == 'PA']

#### Country that have made trips become 43

### Table State and Popolation

In [ ]:
nstest[1] = nstest[1].str.replace('.','')

In [ ]:
state = nstest.rename(columns = {0:'state', 1:'nPopulation'})
state.head()

#### Add state code

In [ ]:
def findCountryAlpha2 (country_name):
    try:
        sub = pycountry.subdivisions.lookup(country_name)
        sample_str = sub.code
        stateCode = sub.code[-2:]
        return stateCode
    except:
        return ("not founded!")

state['state_code'] = state.apply(lambda row: findCountryAlpha2(row.state) , axis = 1)
state.head()

### Still errors

#### MT

In [ ]:
#Library pycountry has a code wrong for Montana state
state[state['state']=='Montana']

In [ ]:
state.loc[state['state']=='Montana', 'state_code'] = 'MT'
state[state['state']=='Montana']

#### MY

In [ ]:
# another error in library pycountry referred to Maryland code state
state[state['state']=='Maryland']

In [ ]:
state.loc[state['state']=='Maryland', 'state_code'] = 'MD'
state[state['state']=='Maryland']

#### CSV nstest

In [ ]:
#there are some state_code NB which are the same state that NJ
nTravelForState[nTravelForState['state']=='NB']

In [ ]:
nTravelForState[nTravelForState['state']=='NJ']

In [ ]:
NJerr = nTravelForState[nTravelForState['state'] == 'NB']['nTravel']
NJcorr = nTravelForState[nTravelForState['state'] == 'NJ']['nTravel']

In [ ]:
#delete the wrong row
nTravelForState = nTravelForState.drop(nTravelForState.index[nTravelForState['state'] == 'NB']).reset_index()

In [ ]:
#salvo il valore in NJ
nTravelForState.loc[nTravelForState['state']=='NJ', 'nTravel'] = sum(NJcorr, NJerr).values
nTravelForState[nTravelForState['state'] == 'NJ']

#### Now the number of country that have done trips are 43

### Merging time

In [ ]:
table_travel_for_state = pd.merge(state, nTravelForState, left_on='state_code', right_on='state')[['state_x', 'nPopulation', 'nTravel']]
table_travel_for_state.head()

In [ ]:
#check if sum is correct
table_travel_for_state['nTravel'].sum()

### Add ratio between the number of travels and the population

In [ ]:
table_travel_for_state['nPopulation'] = table_travel_for_state['nPopulation'].apply(pd.to_numeric)

In [ ]:
table_travel_for_state['ratio_Travel_Population'] = table_travel_for_state['nPopulation'] / table_travel_for_state['nTravel']
table_travel_for_state.head()

## 10. For each dog, compute the number of days from the posted day to the day of last access.

To solve this task the difference between the column 'posted' and the column 'accessed' will be calculated.
The information obtained will be stored in a dictionary having the dog's identification code as the key and 
the days between the posted day and the last access as value.

In [ ]:
diz={}
for i in range(len(dogs)):
    diz[dogs.loc[i,'id']]= -1*(dogs.loc[i, 'posted'] - dogs.loc[i, 'accessed']).days
diz

## 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

## 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [3]:
# 1) creo una tabella con tutti gli elementi che hanno uguale breeed & sex 
duplicate_table = dogs.iloc[:, [0,13,5,34]]
duplicate_table

,id,sex,breed_primary,description
0,46042150,Male,American Staffordshire Terrier,Harley is not sure how he wound up at shelter ...
1,46042002,Male,Pit Bull Terrier,6 year old Biggie has lost his home and really...
2,46040898,Male,Shepherd,Approx 2 years old.\n Did I catch your eye? I ...
3,46039877,Female,German Shepherd Dog,NaN
4,46039306,Male,Dachshund,Theo is a friendly dachshund mix who gets alon...
...,...,...,...,...
58175,44605893,Male,Border Collie,"Due to the small size of our volunteer base, w..."
58176,44457061,Female,Australian Shepherd,NaN
58177,42865848,Female,Border Collie,"Due to the small size of our volunteer base, w..."
58178,42734734,Male,Boxer,NaN
58179,42663515,Male,Labrador Retriever,NaN

In [4]:
#elimino tutte le righe che hanno NaN come descrizione perché non possono essere duplicate 
duplicate_table = duplicate_table[duplicate_table['description'].notna()]

In [5]:
duplicate_female = duplicate_table[duplicate_table['sex'] == 'Female']
duplicate_male = duplicate_table[duplicate_table['sex'] == 'Male']

In [6]:
#riordino le righe per breed-primary
duplicate_female = duplicate_female.sort_values(by = 'breed_primary').reset_index()
duplicate_male = duplicate_male.sort_values(by = 'breed_primary').reset_index()

In [7]:
#controllo tutti i duplicati anche 
def scannerDuplicate(tab):
    duplicate = {}
    for i in range(len(tab)): # per scorrere tutte le righe
        breed1 = tab.iloc[i]['breed_primary']
        desc1 = tab.iloc[i]['description']
        index1 = tab.iloc[i]['index']
        identi1 = tab.iloc[i]['id']

        for j in range(i+1,len(tab)): # scorrere le righe interne alla razza
            breed2 = tab.iloc[j]['breed_primary']
            desc2 = tab.iloc[j]['description']
            index2 = tab.iloc[j]['index']
            identi2 = tab.iloc[j]['id']

            if breed1 == breed2: #se uguale razza allora faccio il confronto
                if SequenceMatcher(None, desc1, desc2).ratio() >= 0.9: #se supera il 90% allora sono cloni e salvo i valori
                    duplicate[index1]= str(identi1) + ' duplicate'
                    duplicate[index2]= str(identi2) +' duplicate'
            else: #razza diversa fermo j e mando avanti i
                break
            
            
    return duplicate


#1) ho provato a fermare il ciclo quando incontro un duplicato, sensibilmente più veloce ma salto duplicati
#  1.1) if index1 not in duplicate2: -> prima del secondo for
#  1.2) break -> finito if sentencematcher
#2) ho provato a riordinare in base all'indice e non più alla razza, sembra funzionare e va nettamente più veloce

In [20]:
#index_ordered = duplicate_female.iloc[0:10000]
#index_ordered = index_ordered.sort_values(by='index')
#index_ordered

In [15]:
#res_index_ordered = scannerDuplicate(index_ordered)#velocissimo

In [16]:
#len(res_index_ordered)

780

In [22]:
#provo a farlo con la tabella female
female = duplicate_female.sort_values(by='index')
res_female = scannerDuplicate(female)#velocissimo
len(res_female)

1781

In [21]:
#provo a farlo con la tabella male
male = duplicate_male.sort_values(by='index')
res_male = scannerDuplicate(male)#velocissimo
len(res_male)

1624

In [23]:
len(res_male) + len(res_female)

3405

In [24]:
res_female

{57: '46027977 duplicate',
 59: '46027921 duplicate',
 65: '46026600 duplicate',
 66: '46026454 duplicate',
 103: '46005633 duplicate',
 105: '46005531 duplicate',
 166: '45945119 duplicate',
 167: '45945109 duplicate',
 219: '45901986 duplicate',
 220: '45901989 duplicate',
 225: '45901996 duplicate',
 459: '45087241 duplicate',
 460: '45086913 duplicate',
 675: '36765299 duplicate',
 680: '36761472 duplicate',
 677: '36763186 duplicate',
 1123: '45924253 duplicate',
 1124: '45924252 duplicate',
 1165: '45418758 duplicate',
 1166: '45418548 duplicate',
 1281: '46028332 duplicate',
 1282: '46028331 duplicate',
 1372: '45944212 duplicate',
 1374: '45942694 duplicate',
 1401: '45879902 duplicate',
 1404: '45879817 duplicate',
 1607: '43965829 duplicate',
 1619: '43690918 duplicate',
 1637: '42585306 duplicate',
 1638: '42585279 duplicate',
 1654: '41413105 duplicate',
 1655: '41413090 duplicate',
 1945: '46020162 duplicate',
 1947: '46019974 duplicate',
 1949: '46019762 duplicate',
 2032: '45989372 duplicate',
 2033: '45989299 duplicate',
 2038: '45989046 duplicate',
 2039: '45989044 duplicate',
 2063: '45983979 duplicate',
 2064: '45983945 duplicate',
 2066: '45983929 duplicate',
 2164: '45903011 duplicate',
 2165: '45903001 duplicate',
 2178: '45897570 duplicate',
 2179: '45897563 duplicate',
 2259: '45837731 duplicate',
 2260: '45837676 duplicate',
 2261: '45837664 duplicate',
 2280: '45795675 duplicate',
 2281: '45795582 duplicate',
 2375: '45624469 duplicate',
 2376: '45624470 duplicate',
 2392: '45596728 duplicate',
 2396: '45583580 duplicate',
 2638: '44569819 duplicate',
 2639: '44569801 duplicate',
 2849: '39364055 duplicate',
 2850: '39363812 duplicate',
 3071: '45858433 duplicate',
 3073: '45858448 duplicate',
 3685: '46038338 duplicate',
 3686: '46038087 duplicate',
 3694: '46037960 duplicate',
 3699: '46037915 duplicate',
 3701: '46037850 duplicate',
 3795: '46026825 duplicate',
 3796: '46026824 duplicate',
 4170: '45933591 duplicate',
 4172: '45933557 duplicate',
 4273: '45893235 duplicate',
 4274: '45893241 duplicate',
 4291: '45882817 duplicate',
 4292: '45882733 duplicate',
 4554: '45726559 duplicate',
 4555: '45725924 duplicate',
 4745: '45457272 duplicate',
 4746: '45457271 duplicate',
 6195: '45867658 duplicate',
 6196: '45867656 duplicate',
 6198: '45867654 duplicate',
 6199: '45867653 duplicate',
 6225: '45838614 duplicate',
 6226: '45838615 duplicate',
 6274: '45820436 duplicate',
 6277: '45820454 duplicate',
 6292: '45797530 duplicate',
 6293: '45797434 duplicate',
 6415: '45511376 duplicate',
 6416: '45511224 duplicate',
 6449: '45322060 duplicate',
 6450: '45322040 duplicate',
 6709: '38101306 duplicate',
 6710: '38101301 duplicate',
 6711: '38101299 duplicate',
 6818: '46041508 duplicate',
 6819: '46041502 duplicate',
 6840: '46039244 duplicate',
 6842: '46039252 duplicate',
 6844: '46039238 duplicate',
 6940: '46029930 duplicate',
 6943: '46029928 duplicate',
 6948: '46029092 duplicate',
 6950: '46029095 duplicate',
 6951: '46029093 duplicate',
 6967: '46025413 duplicate',
 6970: '46025408 duplicate',
 6968: '46025414 duplicate',
 6969: '46025409 duplicate',
 6998: '46018482 duplicate',
 6999: '46018483 duplicate',
 7002: '46018363 duplicate',
 7005: '46018361 duplicate',
 7003: '46018362 duplicate',
 7004: '46018360 duplicate',
 7006: '46018329 duplicate',
 7008: '46018327 duplicate',
 7007: '46018328 duplicate',
 7009: '46018326 duplicate',
 7012: '46018205 duplicate',
 7013: '46018206 duplicate',
 7015: '46018204 duplicate',
 7017: '46018201 duplicate',
 7020: '46018198 duplicate',
 7021: '46018199 duplicate',
 7033: '46015094 duplicate',
 7034: '46015088 duplicate',
 7090: '46008045 duplicate',
 7091: '46008044 duplicate',
 7159: '45980828 duplicate',
 7161: '45980817 duplicate',
 7163: '45980816 duplicate',
 7179: '45978299 duplicate',
 7180: '45978300 duplicate',
 7182: '45978296 duplicate',
 7185: '45978287 duplicate',
 7186: '45978288 duplicate',
 7346: '45924371 duplicate',
 7347: '45924351 duplicate',
 7360: '45917782 duplicate',
 7363: '45917783 duplicate',
 7364: '45917778 duplicate',
 7366: '45917775 duplicate',
 7421: '45896450 duplicate',
 7424: '45896447 duplicate',
 7432: '45896100 duplicate',
 7433: '45896111 duplicate',
 7480: '45871533 duplicate',
 7482: '45871531 duplicate',
 7517: '45854559 duplicate',
 7518: '45854557 duplicate',
 7530: '45847522 duplicate',
 7531: '45847517 duplicate',
 7605: '45802795 duplicate',
 7606: '45802666 duplicate',
 7636: '45787541 duplicate',
 7637: '45787409 duplicate',
 7640: '45784601 duplicate',
 7641: '45784600 duplicate',
 7750: '45688802 duplicate',
 7751: '45688796 duplicate',
 7819: '45600372 duplicate',
 7820: '45600377 duplicate',
 7821: '45600378 duplicate',
 7822: '45600382 duplicate',
 7828: '45592742 duplicate',
 7829: '45592741 duplicate',
 7894: '45459981 duplicate',
 7895: '45459978 duplicate',
 7957: '45332026 duplicate',
 7959: '45329136 duplicate',
 8002: '45255573 duplicate',
 8003: '45252099 duplicate',
 8007: '45251494 duplicate',
 8008: '45251496 duplicate',
 8146: '44908008 duplicate',
 8147: '44907983 duplicate',
 8256: '44518435 duplicate',
 8257: '44517341 duplicate',
 8264: '44496212 duplicate',
 8266: '44496203 duplicate',
 8278: '44464897 duplicate',
 8279: '44464896 duplicate',
 8342: '44057993 duplicate',
 8343: '44056359 duplicate',
 8355: '43956068 duplicate',
 8358: '43956071 duplicate',
 8412: '43032075 duplicate',
 8413: '43032076 duplicate',
 8432: '42568685 duplicate',
 8433: '42566644 duplicate',
 8454: '42296292 duplicate',
 8455: '42296294 duplicate',
 8523: '40542625 duplicate',
 8524: '40541775 duplicate',
 8540: '38426542 duplicate',
 8541: '38426540 duplicate',
 8634: '46038097 duplicate',
 8635: '46038089 duplicate',
 8686: '46033606 duplicate',
 8688: '46033538 duplicate',
 8693: '46033360 duplicate',
 8695: '46033075 duplicate',
 8826: '46025086 duplicate',
 8827: '46025022 duplicate',
 8851: '46023642 duplicate',
 8852: '46023606 duplicate',
 8860: '46023037 duplicate',
 8861: '46023018 duplicate',
 8870: '46022599 duplicate',
 8876: '46022597 duplicate',
 8896: '46021361 duplicate',
 8897: '46021331 duplicate',
 8898: '46021276 duplicate',
 9017: '46015658 duplicate',
 9019: '46015636 duplicate',
 9038: '46015279 duplicate',
 9041: '46015269 duplicate',
 9156: '46005791 duplicate',
 9157: '46005780 duplicate',
 9161: '46005672 duplicate',
 9162: '46005639 duplicate',
 9164: '46005564 duplicate',
 9166: '46005542 duplicate',
 9172: '46005473 duplicate',
 9173: '46005456 duplicate',
 9176: '46005439 duplicate',
 9191: '46005089 duplicate',
 9193: '46005050 duplicate',
 9206: '46004601 duplicate',
 9207: '46004597 duplicate',
 9209: '46004600 duplicate',
 9210: '46004438 duplicate',
 9211: '46004437 duplicate',
 9224: '45991019 duplicate',
 9225: '45990985 duplicate',
 9259: '45988385 duplicate',
 9261: '45988193 duplicate',
 9267: '45988216 duplicate',
 9268: '45988200 duplicate',
 9299: '45986895 duplicate',
 9300: '45986889 duplicate',
 9321: '45985897 duplicate',
 9322: '45985898 duplicate',
 9341: '45985256 duplicate',
 9343: '45985252 duplicate',
 9345: '45985232 duplicate',
 9347: '45985219 duplicate',
 9359: '45984979 duplicate',
 9360: '45984971 duplicate',
 9361: '45984972 duplicate',
 9362: '45984973 duplicate',
 9364: '45984975 duplicate',
 9382: '45984103 duplicate',
 9383: '45984100 duplicate',
 9388: '45984035 duplicate',
 9389: '45984034 duplicate',
 9390: '45984031 duplicate',
 9392: '45983996 duplicate',
 9391: '45984028 duplicate',
 9398: '45983636 duplicate',
 9399: '45983635 duplicate',
 9402: '45983558 duplicate',
 9403: '45983544 duplicate',
 9405: '45983527 duplicate',
 9520: '45976719 duplicate',
 9521: '45976679 duplicate',
 9583: '45971160 duplicate',
 9585: '45971159 duplicate',
 9630: '45967615 duplicate',
 9631: '45967590 duplicate',
 9632: '45967548 duplicate',
 9636: '45967528 duplicate',
 9639: '45967500 duplicate',
 9640: '45967489 duplicate',
 9643: '45967458 duplicate',
 9684: '45964140 duplicate',
 9685: '45964112 duplicate',
 9687: '45964099 duplicate',
 9689: '45964055 duplicate',
 9690: '45964047 duplicate',
 9731: '45959967 duplicate',
 9732: '45959963 duplicate',
 9733: '45959919 duplicate',
 9771: '45956454 duplicate',
 9773: '45956440 duplicate',
 9776: '45956415 duplicate',
 9778: '45956106 duplicate',
 9822: '45951254 duplicate',
 9825: '45951107 duplicate',
 9834: '45950419 duplicate',
 9836: '45950403 duplicate',
 9897: '45945428 duplicate',
 9899: '45945427 duplicate',
 9907: '45944286 duplicate',
 9908: '45944106 duplicate',
 9912: '45944047 duplicate',
 9913: '45944031 duplicate',
 9914: '45944021 duplicate',
 9926: '45943136 duplicate',
 9928: '45943137 duplicate',
 9958: '45939885 duplicate',
 9959: '45939880 duplicate',
 10035: '45934672 duplicate',
 10036: '45934653 duplicate',
 10075: '45930109 duplicate',
 10077: '45930077 duplicate',
 10087: '45928685 duplicate',
 10088: '45928666 duplicate',
 10124: '45923586 duplicate',
 10125: '45923565 duplicate',
 10126: '45923567 duplicate',
 10127: '45923542 duplicate',
 10135: '45923413 duplicate',
 10137: '45923305 duplicate',
 10146: '45923013 duplicate',
 10147: '45923000 duplicate',
 10156: '45922452 duplicate',
 10161: '45922354 duplicate',
 10180: '45921408 duplicate',
 10181: '45921407 duplicate',
 10214: '45915002 duplicate',
 10217: '45914797 duplicate',
 10218: '45914787 duplicate',
 10224: '45913177 duplicate',
 10303: '45906745 duplicate',
 10306: '45906445 duplicate',
 10307: '45906397 duplicate',
 10319: '45905659 duplicate',
 10320: '45905644 duplicate',
 10381: '45898199 duplicate',
 10382: '45898200 duplicate',
 10393: '45896129 duplicate',
 10394: '45896122 duplicate',
 10431: '45888998 duplicate',
 10433: '45888773 duplicate',
 10456: '45882639 duplicate',
 10457: '45882608 duplicate',
 10458: '45882591 duplicate',
 10462: '45882544 duplicate',
 10464: '45882220 duplicate',
 10488: '45878915 duplicate',
 10489: '45878711 duplicate',
 10490: '45878753 duplicate',
 10491: '45878721 duplicate',
 10492: '45878680 duplicate',
 10576: '45867611 duplicate',
 10577: '45867595 duplicate',
 10598: '45865687 duplicate',
 10599: '45865683 duplicate',
 10600: '45865484 duplicate',
 10611: '45861568 duplicate',
 10612: '45861567 duplicate',
 10650: '45855417 duplicate',
 10652: '45855358 duplicate',
 10653: '45855343 duplicate',
 10671: '45852897 duplicate',
 10674: '45852568 duplicate',
 10789: '45842891 duplicate',
 10790: '45842728 duplicate',
 10833: '45838716 duplicate',
 10834: '45838709 duplicate',
 10835: '45838715 duplicate',
 10836: '45838710 duplicate',
 10839: '45838401 duplicate',
 10841: '45838222 duplicate',
 10847: '45838138 duplicate',
 10848: '45838111 duplicate',
 10851: '45837947 duplicate',
 10852: '45837927 duplicate',
 10861: '45837618 duplicate',
 10862: '45837615 duplicate',
 10908: '45830495 duplicate',
 10909: '45830492 duplicate',
 10927: '45826001 duplicate',
 10928: '45825991 duplicate',
 11043: '45791197 duplicate',
 11045: '45790938 duplicate',
 11111: '45773921 duplicate',
 11112: '45773919 duplicate',
 11117: '45771445 duplicate',
 11118: '45771438 duplicate',
 11119: '45771403 duplicate',
 11125: '45770057 duplicate',
 11126: '45770042 duplicate',
 11127: '45770038 duplicate',
 11128: '45770026 duplicate',
 11168: '45759589 duplicate',
 11169: '45759569 duplicate',
 11170: '45759539 duplicate',
 11252: '45738887 duplicate',
 11256: '45738874 duplicate',
 11257: '45738885 duplicate',
 11280: '45734056 duplicate',
 11282: '45733881 duplicate',
 11283: '45733878 duplicate',
 11367: '45711640 duplicate',
 11368: '45711609 duplicate',
 11369: '45711587 duplicate',
 11370: '45711576 duplicate',
 11397: '45705154 duplicate',
 11398: '45705153 duplicate',
 11446: '45687676 duplicate',
 11447: '45687669 duplicate',
 11450: '45686349 duplicate',
 11452: '45686085 duplicate',
 11575: '45655810 duplicate',
 11576: '45655637 duplicate',
 11627: '45630281 duplicate',
 11628: '45630276 duplicate',
 11629: '45630135 duplicate',
 11631: '45629697 duplicate',
 11632: '45629667 duplicate',
 11710: '45607744 duplicate',
 11711: '45607741 duplicate',
 11883: '45561923 duplicate',
 11884: '45561887 duplicate',
 11903: '45555725 duplicate',
 11904: '45555726 duplicate',
 11997: '45509606 duplicate',
 11998: '45509469 duplicate',
 12016: '45505339 duplicate',
 12018: '45505302 duplicate',
 12053: '45491605 duplicate',
 12054: '45491578 duplicate',
 12245: '45399428 duplicate',
 12246: '45399429 duplicate',
 12256: '45398355 duplicate',
 12257: '45398347 duplicate',
 12352: '45364284 duplicate',
 12354: '45364286 duplicate',
 12488: '45295066 duplicate',
 12489: '45295035 duplicate',
 12490: '45295002 duplicate',
 12518: '45277947 duplicate',
 12519: '45277900 duplicate',
 12685: '45194166 duplicate',
 12686: '45194066 duplicate',
 13193: '44812892 duplicate',
 13197: '44812872 duplicate',
 13758: '44174656 duplicate',
 13759: '44174649 duplicate',
 13957: '43819633 duplicate',
 13958: '43819613 duplicate',
 13964: '43812426 duplicate',
 13965: '43812427 duplicate',
 14632: '41303812 duplicate',
 14633: '41303385 duplicate',
 14634: '41269949 duplicate',
 14635: '41269910 duplicate',
 14636: '41269817 duplicate',
 14637: '41269774 duplicate',
 14638: '41269674 duplicate',
 14639: '41269632 duplicate',
 14692: '41010932 duplicate',
 14693: '41010864 duplicate',
 14700: '40989938 duplicate',
 14701: '40989871 duplicate',
 14917: '38414495 duplicate',
 14918: '38413572 duplicate',
 14987: '37539135 duplicate',
 14988: '37539122 duplicate',
 14990: '37502900 duplicate',
 14991: '37502898 duplicate',
 14992: '37502869 duplicate',
 14993: '37464392 duplicate',
 14998: '37409581 duplicate',
 14999: '37409549 duplicate',
 15018: '37182020 duplicate',
 15019: '37181985 duplicate',
 15118: '34946538 duplicate',
 15119: '34945742 duplicate',
 15133: '34538956 duplicate',
 15134: '34538877 duplicate',
 15170: '33694649 duplicate',
 15171: '33694642 duplicate',
 15239: '30526042 duplicate',
 15240: '30526029 duplicate',
 15314: '46043099 duplicate',
 15315: '46042618 duplicate',
 15319: '46042587 duplicate',
 15320: '46042569 duplicate',
 15362: '46038340 duplicate',
 15363: '46038304 duplicate',
 15364: '46038279 duplicate',
 15365: '46038273 duplicate',
 15402: '46034962 duplicate',
 15404: '46034897 duplicate',
 15421: '46034352 duplicate',
 15423: '46034335 duplicate',
 15426: '46034253 duplicate',
 15427: '46034255 duplicate',
 15428: '46034254 duplicate',
 15435: '46033599 duplicate',
 15436: '46033572 duplicate',
 15438: '46033504 duplicate',
 15439: '46033505 duplicate',
 15443: '46033116 duplicate',
 15445: '46033117 duplicate',
 15494: '45979050 duplicate',
 15495: '45979075 duplicate',
 15500: '46026336 duplicate',
 15501: '46026337 duplicate',
 15590: '46016307 duplicate',
 15591: '46016306 duplicate',
 15592: '46016305 duplicate',
 15652: '46012119 duplicate',
 15655: '46011473 duplicate',
 15717: '46005811 duplicate',
 15718: '46005812 duplicate',
 15719: '46005814 duplicate',
 15722: '46005817 duplicate',
 15723: '46005818 duplicate',
 15761: '45990842 duplicate',
 15762: '45990836 duplicate',
 15763: '45990813 duplicate',
 15774: '45990335 duplicate',
 15775: '45990334 duplicate',
 15886: '45983028 duplicate',
 15887: '45983027 duplicate',
 15888: '45983026 duplicate',
 16016: '45968485 duplicate',
 16017: '45968373 duplicate',
 16113: '45954990 duplicate',
 16115: '45954989 duplicate',
 16116: '45954993 duplicate',
 16117: '45954994 duplicate',
 16120: '45954341 duplicate',
 16121: '45954144 duplicate',
 16132: '45952886 duplicate',
 16134: '45952692 duplicate',
 16135: '45952694 duplicate',
 16140: '45952305 duplicate',
 16141: '45952306 duplicate',
 16194: '45945879 duplicate',
 16195: '45945877 duplicate',
 16199: '45945020 duplicate',
 16200: '45945013 duplicate',
 16215: '45942794 duplicate',
 16218: '45942792 duplicate',
 16274: '45933284 duplicate',
 16276: '45933054 duplicate',
 16298: '45931207 duplicate',
 16299: '45931204 duplicate',
 16300: '45931203 duplicate',
 16328: '45927193 duplicate',
 16330: '45927031 duplicate',
 16332: '45926679 duplicate',
 16352: '45923129 duplicate',
 16353: '45923095 duplicate',
 16354: '45923079 duplicate',
 16355: '45923029 duplicate',
 16363: '45922477 duplicate',
 16364: '45922308 duplicate',
 16406: '45912862 duplicate',
 16407: '45912847 duplicate',
 16412: '45912673 duplicate',
 16413: '45912675 duplicate',
 16428: '45911286 duplicate',
 16429: '45911204 duplicate',
 16442: '45909743 duplicate',
 16443: '45909744 duplicate',
 16462: '45907356 duplicate',
 16463: '45907358 duplicate',
 16468: '45906427 duplicate',
 16470: '45906402 duplicate',
 16494: '45901451 duplicate',
 16495: '45901432 duplicate',
 16500: '45899030 duplicate',
 16504: '45898990 duplicate',
 16540: '45891405 duplicate',
 16541: '45891399 duplicate',
 16542: '45891259 duplicate',
 16543: '45891143 duplicate',
 16544: '45890930 duplicate',
 16545: '45890929 duplicate',
 16596: '45876581 duplicate',
 16597: '45876420 duplicate',
 16616: '45872589 duplicate',
 16617: '45872590 duplicate',
 16619: '45872538 duplicate',
 16620: '45872539 duplicate',
 16627: '45870449 duplicate',
 16628: '45870447 duplicate',
 16642: '45868214 duplicate',
 16644: '45868153 duplicate',
 16652: '45866542 duplicate',
 16653: '45866543 duplicate',
 16701: '45856113 duplicate',
 16702: '45856064 duplicate',
 16706: '45855767 duplicate',
 16707: '45855638 duplicate',
 16731: '45850659 duplicate',
 16732: '45850645 duplicate',
 16754: '45847413 duplicate',
 16757: '45847273 duplicate',
 16897: '45831358 duplicate',
 16898: '45831428 duplicate',
 16900: '45831328 duplicate',
 16901: '45831421 duplicate',
 16985: '45795614 duplicate',
 16986: '45795550 duplicate',
 17085: '45766362 duplicate',
 17088: '45766287 duplicate',
 17112: '45763681 duplicate',
 17113: '45763680 duplicate',
 17114: '45763677 duplicate',
 17115: '45763678 duplicate',
 17116: '45763676 duplicate',
 17145: '45758811 duplicate',
 17146: '45758759 duplicate',
 17149: '45758379 duplicate',
 17151: '45758366 duplicate',
 17210: '45738087 duplicate',
 17211: '45322313 duplicate',
 17263: '45722174 duplicate',
 17265: '45722173 duplicate',
 17371: '45671695 duplicate',
 17372: '45671661 duplicate',
 17388: '45667646 duplicate',
 17389: '45667631 duplicate',
 17438: '45644489 duplicate',
 17439: '45644490 duplicate',
 17476: '45628311 duplicate',
 17477: '45628234 duplicate',
 17508: '45610056 duplicate',
 17511: '45610053 duplicate',
 17528: '45601608 duplicate',
 17529: '45601590 duplicate',
 17751: '45493656 duplicate',
 17754: '45493654 duplicate',
 17835: '45414888 duplicate',
 17836: '45414886 duplicate',
 17849: '45408005 duplicate',
 17850: '45408006 duplicate',
 17885: '45384804 duplicate',
 17888: '45384763 duplicate',
 18033: '45288316 duplicate',
 18034: '45288313 duplicate',
 18793: '44416588 duplicate',
 18794: '44416544 duplicate',
 18811: '44404139 duplicate',
 18812: '44404138 duplicate',
 18874: '44284665 duplicate',
 18875: '44284614 duplicate',
 18892: '44260240 duplicate',
 18893: '44260194 duplicate',
 18920: '44214934 duplicate',
 18921: '44214918 duplicate',
 18959: '44119989 duplicate',
 18962: '44119988 duplicate',
 19778: '35603428 duplicate',
 19779: '35603082 duplicate',
 19797: '35106172 duplicate',
 19798: '35106169 duplicate',
 19986: '46041816 duplicate',
 19987: '46041795 duplicate',
 20097: '46026138 duplicate',
 20099: '46026108 duplicate',
 20102: '46025770 duplicate',
 20135: '46020625 duplicate',
 20136: '46020624 duplicate',
 20137: '46020627 duplicate',
 20163: '46017525 duplicate',
 20164: '46017524 duplicate',
 20185: '46012808 duplicate',
 20186: '46012783 duplicate',
 20187: '46012581 duplicate',
 20267: '45989256 duplicate',
 20269: '45989233 duplicate',
 20299: '45986935 duplicate',
 20300: '45986905 duplicate',
 20301: '45986809 duplicate',
 20303: '45986684 duplicate',
 20304: '45986541 duplicate',
 20305: '45986507 duplicate',
 20306: '45986498 duplicate',